---
title: Поиск
---
extends layouts/_layout
block conf

block content
	.wrapper.page-head.page-head-withbuttons.has-bg
		.wrapper-bg
			.wrapper-bg-img.js-image.bg(data-src='img/pagehead/head-2.jpg')
		.box
			.page-head-container
				.bread-cont
					a(href="/").bread-item Главная
				h1.title.h1 Поиск
	.wrapper.bg-white
		.box
			.search-result
				.search-result-head
					form(action="/").searchinp.darken
						.search-field
							input(type="text" placeholder='Найдите свой город').searchinp-input.js-searchmodal-targetinput
							button(type='button').searchinp-btn
								+icon('search')
						.search-method.input-row
							.input-item
								label.select-radio-label.radio-simple
									input(type="radio", name='MethodSearch', checked='checked').select-radio-input-real
									.select-radio-inner
										span.select-radio-input
											span.select-radio-input-fake
										span.select-radio-text По услугам
							.input-item
								label.select-radio-label.radio-simple
									input(type="radio", name='MethodSearch').select-radio-input-real
									.select-radio-inner
										span.select-radio-input
											span.select-radio-input-fake
										span.select-radio-text По тексту
				.search-result-content
					h2.title.h2.search-result-title Ничего не найдено
					.info-text.search-result-error
						.info-text-icon
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width='24' height='24'><style>.iconinfo{fill:#4E4544;}</style><path d="M12 1c6.1 0 11 4.9 11 11s-4.9 11-11 11S1 18.1 1 12 5.9 1 12 1m0-1C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0z" class="iconinfo"/><path d="M11.3 6.3V11l.3 3.7h.9l.3-3.7V6.3h-1.5zm1.5 11.4v-1.9h-1.7v1.9h1.7z" class="iconinfo"/></svg>
						.info-text-text
							.text.sm К сожалению, по вашему запросу 
								span.red «Междунардный»
								|ничего не найдено. Проверьте правильность написания слова.
					.info-text.search-result-error
						.info-text-icon
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width='24' height='24'><style>.iconinfo{fill:#4E4544;}</style><path d="M12 1c6.1 0 11 4.9 11 11s-4.9 11-11 11S1 18.1 1 12 5.9 1 12 1m0-1C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0z" class="iconinfo"/><path d="M11.3 6.3V11l.3 3.7h.9l.3-3.7V6.3h-1.5zm1.5 11.4v-1.9h-1.7v1.9h1.7z" class="iconinfo"/></svg>
						.info-text-text
							.text.sm Вы ввели пустой поисковый запрос. Введите запрос и попробуйте еще раз.