---
title: Расчёт доставки
---
extends layouts/_layout
block conf

block content
	.wrapper.bg-white.page-head
		.box
			.page-head-container
				.bread-cont
					a(href="/").bread-item Главная
				h1.title.h1 Мои расчёты
	.wrapper.bg-white.js-anim
		.box
			.content-columns
				.content-columns-mai
					.inform-wrapper
						.text.sm У вас пока нет сохранённых расчётов. Не упускайте момент, узнайте стоимость доставки посылки в любой населенный пункт России или другую страну прямо сейчас.
						a(href="#").btn
							.btn-inner 
								span Новый расчёт
				.content-columns-aside(data-sticky-parent).js-stick-parent
	include ./partials/_ask