---
title: 404 - Страница не найдена
---
extends layouts/_layout
block conf

block content
	.wrapper.error-page-bg
		.box
			.page-head-container
				.bread-cont
					a(href="/").bread-item Главная
			.error-page-content
				h1.title.h1 404