---
title: Расчёт доставки
---
extends layouts/_layout
block conf

block content
	.wrapper.page-head.page-head-withbuttons.has-bg
		.wrapper-bg
			.wrapper-bg-img.js-image.bg(data-src='img/pagehead/head1.jpg')
		.box
			.page-head-container
				.bread-cont
					a(href="/").bread-item Главная
					a(href="/").bread-item Услуги
				h1.title.h1 Международная доставка
				.buttons-wrapper
					a(href="#").btn.color-white.type-round
						.btn-inner
							span.btn-icon
								+icon('down')
							span Скачать презентацию
					a(href="#").btn.color-white.not-trans.type-round
						.btn-inner
							span Заключить договор
	.wrapper.bg-white.js-anim
		.box
			.service-linkblock-wrapper
				.row.padding-big
					.columns.large-4.medium-6.small-12
						+feachureLink('Экспорт')
							ul.service-links
								li.service-links-item
									a(href="#") Срочная
								li.service-links-item
									a(href="#") Сверхсрочная
					.columns.large-4.medium-6.small-12
						+feachureLink('Импорт')
							ul.service-links
								li.service-links-item
									a(href="#") Срочная
					.columns.large-4.medium-6.small-12
						+feachureLink('Температурное складское хранение')
							ul.service-links
								li.service-links-item
									a(href="#") Складская зона хранения (-15... +25 0С)
								li.service-links-item
									a(href="#") Холодильная камера (+2... +8 0С)
								li.service-links-item
									a(href="#") Морозильная камера (-20 0С)
								li.service-links-item
									a(href="#") Морозильная камера (-86 0С) 
	.wrapper.bg-gray.js-anim
		.box
			.padding-big
				.block-constructor
					h2.title.h2 Описание услуги
					.block-constructor-halfdescr
						.row.align-stretch 
							.columns.large-6.medium-6.small-12
								.col
									.title.h4 Выход на международный уровень — важный шаг в развитии бизнеса. Его успешность зависит от качества реализации грузо- и документооборота с зарубежными партнерами.

							.columns.large-6.medium-6.small-12
								.col
									.content-wrapper

										p Наша компания осуществляет доставку экспресс-грузов и документов в более чем 200 стран мира и страны Таможенного союза. Мы гарантируем высокое качество обслуживания, оптимальное сочетание скорости и цены перевозок, таможенное оформление в максимально короткие сроки, доставку груза «до двери» на территории страны доставки.
					.content-slider
						.content-slider-inner
							figure.content-slider-slide
								img(src="img/slide.jpg", alt="")
								figcaption.caption.medium Наш автопарк укомплектован новыми грузовыми автомобилями
							figure.content-slider-slide
								img(src="img/slide.jpg", alt="")
								figcaption.caption.medium Наш автопарк укомплектован новыми грузовыми автомобилями
							figure.content-slider-slide
								img(src="img/slide.jpg", alt="")
								figcaption.caption.medium Наш автопарк укомплектован новыми грузовыми автомобилями
						.content-slider-nav
							.slider-nav
								.slider-counter
									.slider-curr
									.slider-divider /
									.slider-total
	.wrapper.bg-white.js-anim
		.box
			.padding-big
				.block-constructor
					h2.title.h2 Преимущества
					.cards-wrapper.w4
						+card('Выезд курьера для сбора отправления','КурьерСервисЭкспресс — надежный партнер для осуществления доставки любых грузов, на любые расстояния, в любую точку мира.','8.svg')
						+card('Доставка до двери','Мы тщательно контро- лируем транспортные процессы на всех этапах доставки вашей посылки, чтобы вы получили её прямо в руки.','6.svg')
						+card('Мониторинг статуса доставки отправления ','Вы всегда можете отследить вашу посылку через нас сервис и быть в курсе, где она находится в данный момент.','9.svg')
						+card('Полный комплекс услуг','Наши специалисты помогут вам быстро пройти все необходимые таможенные процедуры.','7.svg')
	.wrapper.bg-gray.js-anim
		.box
			.padding-big
				.block-constructor
					h2.title.h2 Что мы предлагаем
					.offers-wrapper
						+offer('Отслеживание посылки в любое время','Мы предоставляем специальный сервис, который позволяет в режиме онлайн узнать где находится ваш груз. Благодаря широкой сети представительств и офисов вы имеете возможность заказать доставку из любого региона нашей страны.','1')
						+offer('Продуманные грузоперевозки по всему миру','Мы разрабатываем оптимальный и выгодный маршрут, предусматривающий использование современных складских комплексов, надежных контейнерных терминалов и портов.','2')
						+offer('Доставка с особой осторожностью','Мы предоставляем специальный сервис, который позволяет в режиме онлайн узнать где находится ваш груз. Благодаря широкой сети представительств и офисов вы имеете возможность заказать доставку из любого региона нашей страны.','3')
	.wrapper.bg-white.js-anim
		.box
			.padding-big
				.block-constructor
					h2.title.h2 Требования к посылкам
					.block-constructor-table
						table
							tbody
								tr
									th
									th
										.caption Макс. вес одного отправления
									th
										.caption Макс. кол-во отправлений
									th
										.caption Макс. суммарный вес
									th
										.caption Макс. длина
									th
										.caption Макс. периметр поперечного сечения
									th
										.caption Объёмный вес
								tr
									td
										.text.bold.sm Документы
									td
										.text.sm 3 кг
									td
										.text.sm 99
									td
										.text.sm 297 кг
									td
										.text.sm 20 см
									td
										.text.sm —
									td
										.text.sm 3 кг
								tr
									td
										.text.bold.sm Груз
									td
										.text.sm 3 кг
									td
										.text.sm 99
									td
										.text.sm 297 кг
									td
										.text.sm 20 см
									td
										.text.sm —
									td
										.text.sm 3 кг
								tr
									td
										.text.bold.sm Посылка из интернет-магазина
									td
										.text.sm 3 кг
									td
										.text.sm 99
									td
										.text.sm 297 кг
									td
										.text.sm 20 см
									td
										.text.sm —
									td
										.text.sm 3 кг
	.wrapper.js-anim
		.wrapper-bg
			.wrapper-bg-img.js-image.bg(data-src='img/pagehead/head1.jpg')
		.box
			.padding-big
				.block-constructor
					h2.title.h2 Дополнительные услуги
					.block-constructor-subservice-list
						ul.service-links
							li.service-links-item
								a(href="#") Доставка опасного груза
							li.service-links-item
								a(href="#") Перевозка с объявленной стоимостью
							li.service-links-item
								a(href="#") Доставка отправлений с «возвратом»
							li.service-links-item
								a(href="#") Доставка негабаритных грузов
							li.service-links-item
								a(href="#") Уведомление о доставке
							li.service-links-item
								a(href="#") Доставка «Лично в руки»
							li.service-links-item
								a(href="#") Страхование отправлений
							li.service-links-item
								a(href="#") Доставка в нерабочее время
	.wrapper.bg-white.js-anim
		.box
			.padding-big
				.block-constructor
					.block-constructor-halfdescr
						.row.align-stretch 
							.columns.large-6.medium-6.small-12
								.col
									.content-wrapper
										// может быть просто h2
										.title.h2 Как мы работаем
										p.bold Наличие собственной транспортной базы позволяют нам предлагать наиболее оптимальные схемы доставки ваших грузов.
										p В зависимости от имеющегося бюджета, особенностей перевозимых объектов и необходимых сроков доставки мы предложим несколько вариантов транспортировки, среди которых Вы сможете выбрать наиболее подходящий для себя. 


							.columns.large-6.medium-6.small-12
								.youtube(data-embed='OiLdgNA6hlM')
									.play-button
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="213.7px" height="213.7px" viewBox="0 0 213.7 213.7" enable-background="new 0 0 213.7 213.7" xml:space="preserve"><polygon class='triangle' fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="73.5,62.5 148.5,105.8 73.5,149.1 "/><circle class='circle' fill="none"  stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3"/></svg>
	.wrapper.bg-gray.js-anim
		.box
			.padding-big
				.block-constructor
					.title.h2 Документы
					.block-constructor-docs
						.docwrapper-item
							.docwrapper-item-head
								.title.h4 Общие
							.docwrapper-item-content
								.row
									.columns.large-6.medium-6.small-12
										+docLink('diplom1.html','Список запрещенных к пересылке грузов','20','PDF')
									.columns.large-6.medium-6.small-12
										+docLink('diplom1.html','Образец Акта рекламации для неисправных товаров','20','DOC')
									.columns.large-6.medium-6.small-12
										+docLink('diplom1.html','Срок доставки и география','20','DOC')
									.columns.large-6.medium-6.small-12
										+docLink('diplom1.html','Гарантийное письмо для печатной, аудио-видео продукции ','20','DOC')
						.docwrapper-item
							.docwrapper-item-head
								.title.h4 Для юридических лиц
							.docwrapper-item-content
								.row
									.columns.large-6.medium-6.small-12
										+docLink('diplom1.html','Индивидуальная накладная','20','PDF')
									.columns.large-6.medium-6.small-12
										+docLink('diplom1.html','2 инвойса на русском языке','20','DOC')
						.docwrapper-item
							.docwrapper-item-head
								.title.h4 Для физических лиц
							.docwrapper-item-content
								.row
									.columns.large-6.medium-6.small-12
										+docLink('diplom1.html','Индивидуальная накладная','20','PDF')
									.columns.large-6.medium-6.small-12
										+docLink('diplom1.html','2 инвойса на русском языке','20','DOC')
	include ./partials/_promo
	include ./partials/_salesSlider
	include ./partials/_ask