---
title: Акции
---
extends layouts/_layout
block conf

block content
	.wrapper.page-head.page-head-withbuttons.has-bg
		.wrapper-bg
			.wrapper-bg-img.js-image.bg(data-src='img/pagehead/head3.jpg')
		.box
			.page-head-container
				.bread-cont
					a(href="/").bread-item Главная
				h1.title.h1 Акции
	.wrapper.bg-white
		.box
			.padding-big
				.news-wrapper
					.news-content
						.row.reload-container
							.columns.large-6.medium-6.small-12
								.promoblock-item.w50.type-promotion
									a(href="#").promoblock-item-link
										.promoblock-item-bg
											img.js-image(data-src="img/promoblock/3.jpg", alt="")
										.promoblock-item-content
											.promoblock-item-content-inner
												.title.h4 Осенняя акция: отправь посылку через наш сервис и получи бонус 100 ₽ на доставку следующей посылки 
												.caption 30 сентября, 2017
										object.item-type-wrapper
											.item-type Акция
											.item-type 10 сентября — 25 октября
							.columns.large-6.medium-6.small-12
								.promoblock-item.w50.type-promotion
									a(href="#").promoblock-item-link
										.promoblock-item-bg
											img.js-image(data-src="img/promoblock/3.jpg", alt="")
										.promoblock-item-content
											.promoblock-item-content-inner
												.title.h4 Осенняя акция: отправь посылку через наш сервис и получи бонус 100 ₽ на доставку следующей посылки 
												.caption 30 сентября, 2017
										object.item-type-wrapper
											.item-type Акция
											.item-type 10 сентября — 25 октября
							.columns.large-6.medium-6.small-12
								.promoblock-item.w50.type-promotion
									a(href="#").promoblock-item-link
										.promoblock-item-bg
											img.js-image(data-src="img/promoblock/3.jpg", alt="")
										.promoblock-item-content
											.promoblock-item-content-inner
												.title.h4 Осенняя акция: отправь посылку через наш сервис и получи бонус 100 ₽ на доставку следующей посылки 
												.caption 30 сентября, 2017
										object.item-type-wrapper
											.item-type Акция
											.item-type 10 сентября — 25 октября
							.columns.large-6.medium-6.small-12
								.promoblock-item.w50.type-promotion
									a(href="#").promoblock-item-link
										.promoblock-item-bg
											img.js-image(data-src="img/promoblock/3.jpg", alt="")
										.promoblock-item-content
											.promoblock-item-content-inner
												.title.h4 Осенняя акция: отправь посылку через наш сервис и получи бонус 100 ₽ на доставку следующей посылки 
												.caption 30 сентября, 2017
										object.item-type-wrapper
											.item-type Акция
											.item-type 10 сентября — 25 октября
							.columns.large-6.medium-6.small-12
								.promoblock-item.w50.type-promotion
									a(href="#").promoblock-item-link
										.promoblock-item-bg
											img.js-image(data-src="img/promoblock/3.jpg", alt="")
										.promoblock-item-content
											.promoblock-item-content-inner
												.title.h4 Осенняя акция: отправь посылку через наш сервис и получи бонус 100 ₽ на доставку следующей посылки 
												.caption 30 сентября, 2017
										object.item-type-wrapper
											.item-type Акция
											.item-type 10 сентября — 25 октября
							.columns.large-6.medium-6.small-12
								.promoblock-item.w50.type-promotion
									a(href="#").promoblock-item-link
										.promoblock-item-bg
											img.js-image(data-src="img/promoblock/3.jpg", alt="")
										.promoblock-item-content
											.promoblock-item-content-inner
												.title.h4 Осенняя акция: отправь посылку через наш сервис и получи бонус 100 ₽ на доставку следующей посылки 
												.caption 30 сентября, 2017
										object.item-type-wrapper
											.item-type Акция
											.item-type 10 сентября — 25 октября
							.columns.large-6.medium-6.small-12
								.promoblock-item.w50.type-promotion
									a(href="#").promoblock-item-link
										.promoblock-item-bg
											img.js-image(data-src="img/promoblock/3.jpg", alt="")
										.promoblock-item-content
											.promoblock-item-content-inner
												.title.h4 Осенняя акция: отправь посылку через наш сервис и получи бонус 100 ₽ на доставку следующей посылки 
												.caption 30 сентября, 2017
										object.item-type-wrapper
											.item-type Акция
											.item-type 10 сентября — 25 октября
							.columns.large-6.medium-6.small-12
								.promoblock-item.w50.type-promotion
									a(href="#").promoblock-item-link
										.promoblock-item-bg
											img.js-image(data-src="img/promoblock/3.jpg", alt="")
										.promoblock-item-content
											.promoblock-item-content-inner
												.title.h4 Осенняя акция: отправь посылку через наш сервис и получи бонус 100 ₽ на доставку следующей посылки 
												.caption 30 сентября, 2017
										object.item-type-wrapper
											.item-type Акция
											.item-type 10 сентября — 25 октября
					.row.btn-row.align-center
						a(href="#").btn
							.btn-inner
								span Показать ещё

	include ./partials/_ask