---
title: О компании
---
extends layouts/_layout
block conf

block content
	.wrapper.page-head.page-head-withbuttons.has-bg
		.wrapper-bg
			.wrapper-bg-img.js-image.bg(data-src='img/pagehead/head3.jpg')
		.box
			.page-head-container
				.bread-cont
					a(href="/").bread-item Главная
				h1.title.h1 О компании
				.buttons-wrapper
					a(href="#").btn.color-white.type-round
						.btn-inner
							span.btn-icon
								+icon('down')
							span Скачать презентацию
		.page-head-nav
			.box
				.page-head-nav-item
					a(href="#").page-head-nav-item-inner.active
						span Новости
				.page-head-nav-item
					a(href="#").page-head-nav-item-inner
						span Франчайзинг
				.page-head-nav-item
					a(href="#").page-head-nav-item-inner
						span Вакансии
				.page-head-nav-item
					a(href="#").page-head-nav-item-inner
						span Закупки
				.page-head-nav-item
					a(href="#").page-head-nav-item-inner
						span Сотрудничество
	.wrapper.bg-white
		.box
			.padding-big
				.block-constructor
					.block-constructor-halfdescr
						.row.align-stretch 
							.columns.large-6.medium-6.small-12
								.col
									h2.title.h4 Компания КурьерСервисЭкспресс начала свою деятельность на рынке курьерских услуг в 1997 году.
									.year-image
										img(src="img/97.png", alt="")
							.columns.large-6.medium-6.small-12
								.col
									.content-wrapper
										p В настоящее время КурьерСервисЭкспресс — это надежный партнер для тысяч компаний, сделавших свой выбор в пользу надежных и современных услуг по доставке грузов и корреспонденции по России, ближнему и дальнему зарубежью. 
										p Широкий спектр транспортных возможностей, а также собственная филиальная сеть КурьерСервисЭкспресс позволяют компании обеспечить доставку документов и грузов по принципу «от двери до двери» в любую точку планеты.
					blockquote Мы оказываем людям и компаниям спектр услуг своевременной и гарантированной доставки, постоянно повышая уровень сервиса, внедряя новые технологии, эффективно используя все ресурсы.
					.content-slider
						.content-slider-inner
							figure.content-slider-slide
								img(src="img/slide.jpg", alt="")
								figcaption.caption.medium Наш автопарк укомплектован новыми грузовыми автомобилями
							figure.content-slider-slide
								img(src="img/slide.jpg", alt="")
								figcaption.caption.medium Наш автопарк укомплектован новыми грузовыми автомобилями
							figure.content-slider-slide
								img(src="img/slide.jpg", alt="")
								figcaption.caption.medium Наш автопарк укомплектован новыми грузовыми автомобилями
						.content-slider-nav
							.slider-nav
								.slider-counter
									.slider-curr
									.slider-divider /
									.slider-total
	.wrapper
		.wrapper-bg
			.wrapper-bg-img.js-image.bg(data-src='img/bgwrapper/1.jpg')
		.box
			.row.padding-big
				.columns.large-6.medium-6.small-12
					.block-about
						h2.title.h2.white Профессиональный логистический оператор
						.text.white КурьерСервисЭкспресс – сервис, которым удобно и выгодно пользоваться. КурьерСервисЭкспресс предлагает выгодные условия сотрудничества, доступные цены, а также сервис высокого уровня.
				.columns.large-6.medium-6.small-12
					.block-about
						.block-about-slider
							.block-about-slider-inner.js-block-about-slider
								.block-about-slider-item
									.block-about-slider-title 250+
									.text.sm.white Филиалов и представительств компании КурьерСервис Экспресс
								.block-about-slider-item
									.block-about-slider-title 20
									.text.sm.white Лет успешной работы на рынке курьерских услуг
								.block-about-slider-item
									.block-about-slider-title 218
									.text.sm.white Cтран мира, в которые осуществляется доставка почтовых отправлений и грузов
								.block-about-slider-item
									.block-about-slider-title 2000+
									.text.sm.white Клиентов среди малого, среднего и крупного бизнеса по всему миру
							.slider-dots
	.wrapper.bg-white
		.box
			.padding-big
				.block-constructor
					.block-constructor-slider
						.block-constructor-slider-head
							.title.h2 Клиенты
							.content-slider-nav
								.slider-nav
						.clients-slider.js-clients-clider
							.clients-item
								.clients-item-inner
									img.js-image(data-src="img/clients/1.png", alt="")
							.clients-item
								.clients-item-inner
									img.js-image(data-src="img/clients/2.png", alt="")
							.clients-item
								.clients-item-inner
									img.js-image(data-src="img/clients/3.png", alt="")
							.clients-item
								.clients-item-inner
									img.js-image(data-src="img/clients/4.png", alt="")
							.clients-item
								.clients-item-inner
									img.js-image(data-src="img/clients/5.png", alt="")
							.clients-item
								.clients-item-inner
									img.js-image(data-src="img/clients/6.png", alt="")
							.clients-item
								.clients-item-inner
									img.js-image(data-src="img/clients/7.png", alt="")
							.clients-item
								.clients-item-inner
									img.js-image(data-src="img/clients/1.png", alt="")
							.clients-item
								.clients-item-inner
									img.js-image(data-src="img/clients/2.png", alt="")
							.clients-item
								.clients-item-inner
									img.js-image(data-src="img/clients/3.png", alt="")
							.clients-item
								.clients-item-inner
									img.js-image(data-src="img/clients/4.png", alt="")
							.clients-item
								.clients-item-inner
									img.js-image(data-src="img/clients/5.png", alt="")
							.clients-item
								.clients-item-inner
									img.js-image(data-src="img/clients/6.png", alt="")
							.clients-item
								.clients-item-inner
									img.js-image(data-src="img/clients/7.png", alt="")
	.wrapper.bg-gray
		.box
			.padding-big
				.block-constructor
					h3.title.h2 Наши ценности
					.cards-wrapper.w4
						+card('Клиент','Мы дорожим нашими клиентами и работаем для удовлетворения их потребностей в качествен- ных услугах.','10.svg')
						+card('Персонал','Постоянное повышение профессионального уровня нашей команды и высокая оценка личного вклада каждого.','11.svg')
						+card('Качество ','Мы достигаем соверше- нства во всех наших делах, улучшая качество предоставляемых услуг, повышая нашу ценность для клиента.','12.svg')
						+card('Развитие ','Развитие означает для нас постоянное появление новых идей и реализацию лучших из них на практике.','13.svg')
	.wrapper.bg-white
		.box
			.padding-big
				.block-constructor
					.block-constructor-partners
						.row.align-bottom
							.columns.large-6.medium-12.small-12.align-self-top
								.partners-text
									h3.title.h2 Патнёры
									.text.sm С 2006 года КурьерСервисЭкспресс является официальным членом всемирного дистрибьюторского альянса GDA,а в 2007 году компания стала официальным партнером всемирной курьерской службы Aramex International Couriers.
							.columns.large-3.medium-4.small-12
								+partner('1','«Л’Этуаль»','Крупнейшая в России парфюмерно-косметическая сеть из более чем 790 магазинов. Занимает 17 место по размеру выручки в списке 30 ведущих ретейлеров России.')
							.columns.large-3.medium-4.small-12
								+partner('2','«Л’Этуаль»','Крупнейшая в России парфюмерно-косметическая сеть из более чем 790 магазинов. Занимает 17 место по размеру выручки в списке 30 ведущих ретейлеров России.')
							.columns.large-3.medium-4.small-12
								+partner('3','«Л’Этуаль»','Крупнейшая в России парфюмерно-косметическая сеть из более чем 790 магазинов. Занимает 17 место по размеру выручки в списке 30 ведущих ретейлеров России.')
							.columns.large-3.medium-4.small-12
								+partner('4','«Л’Этуаль»','Крупнейшая в России парфюмерно-косметическая сеть из более чем 790 магазинов. Занимает 17 место по размеру выручки в списке 30 ведущих ретейлеров России.')
							.columns.large-3.medium-4.small-12
								+partner('5','«Л’Этуаль»','Крупнейшая в России парфюмерно-косметическая сеть из более чем 790 магазинов. Занимает 17 место по размеру выручки в списке 30 ведущих ретейлеров России.')
							.columns.large-3.medium-4.small-12
								+partner('6','«Л’Этуаль»','Крупнейшая в России парфюмерно-косметическая сеть из более чем 790 магазинов. Занимает 17 место по размеру выручки в списке 30 ведущих ретейлеров России.')
						.row.btn-row.align-center
							a(href="#").btn
								.btn-inner
									span Показать ещё


	.wrapper.bg-gray
		.box
			.padding-big
				.block-constructor
					.title.h2 Документы
					.block-constructor-docs
						.docwrapper-item
							.docwrapper-item-head
								.title.h4 Лицензии и сертификаты
							.docwrapper-item-content
								.row
									.columns.large-6.medium-6.small-12
										+docLink('diplom1.html','Свидетельство о включении в реестр таможенных перевозчиков','20','PDF')
									.columns.large-6.medium-6.small-12
										+docLink('diplom1.html','Лицензия №127656 на оказание услуг почтовой связи','20','JPG')
									.columns.large-6.medium-6.small-12
										+docLink('diplom1.html','Лицензия №347547 на оказание услуг почтовой связи','20','JPG')
									.columns.large-6.medium-6.small-12
										+docLink('diplom1.html','Лицензия №144756 на оказание услуг почтовой связи','20','JPG')
	include ./partials/_newsSlider
	include ./partials/_salesSlider
	include ./partials/_ask