include ./layouts/_mixins
.wrap
	.modal-container.diplom-container
		.modal-container-header
			.modal-container-header-close.closePopup
				.small-link
					+icon('closemodal')
		.diplom-container-inner
			.diplom-container-content
				.title.h3 Свидетельство о включении в Реестр таможенных представителей
				.caption Формат: JPG / Размер: 15 Мб
				.text.sm КурьерСервисЭкспресс получила свидетельство таможенного представителя, согласно которому может совершать таможенные операции в соответствии с таможенным законодательством таможенного союза.
				a(href="#").btn
					.btn-inner 
						span Скачать файл