---
title: Index_Page
bodyClass: Index_Page
outClass: Index_Page
---
extends layouts/_layout
block conf
	-var video = true
	-var map = true
block content
	.video-bg
		include ./partials/_bgvideo
	.wrapper.full-height
		.box.small
			.row.align-middle
				.columns.price-form-wrapper
					h1.title.h1.white Быстрая доставка посылок в любую точку мира
					.fixed-form-wrap.js-fixedform
						.fixed-form-inner
							form(action="/").form.price-form.js-validate
								.input-row.gap-search
									.input-item.w33
										.input-wrapper
											input.input-main.input-dropdown.js-input-dropdown.js-swap-item(name='wqedqwe', placeholder='Например, Москва',data-validation="length",data-validation-length='min1',data-validation-error-msg="Укажите город")
											.js-input-dropdown-target.input-dropdown-target
												.input-dropdown-content
													.option
														span Мосальск, Россия
													.option
														span Москва, Россия
													.option
														span Мосс, Норвегия
													.option
														span Мостар, Босния и Герцеговина
												//- each country in countries
												//- 	option(value='1')= country

											label(for='#name2Inp').input-label Откуда
											.input-icon.swap.js-swap
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 18.5"> <style>.stswap{fill-rule:evenodd;clip-rule:evenodd;fill:#F47921;}</style> <path d="M16 13.5H4V10l-4 4.3 4 4.2V15h12z" class="stswap"/> <path d="M16 4.2L12 0v3.5H0V5h12v3.5z" class="stswap"/></svg>
									.input-item.w33
										.input-wrapper
											input.input-main.input-dropdown.js-input-dropdown.js-swap-item(name='wqedqwe', placeholder='Например, Москва',data-validation="length",data-validation-length='min1',data-validation-error-msg="Укажите город")
											.js-input-dropdown-target.input-dropdown-target
												.input-dropdown-content
													.option
														span Мосальск, Россия
													.option
														span Москва, Россия
													.option
														span Мосс, Норвегия
													.option
														span Мостар, Босния и Герцеговина
													.option
														span Мостар, Босния и Герцеговина
											label(for='#name2Inp').input-label Куда
									.input-item.w33
										button(type='submit').btn.has-loading
											.btn-inner
												span.js-price от 900 000 ₽
												span.js-price-text Подробнее
													+icon('arrr')
		.full-height-scroller
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 31"><style>.stscroll0{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;} .stscroll1{fill:#FFFFFF;}</style><path d="M10 .5c5.2 0 9.5 4.3 9.5 9.5v11c0 5.2-4.3 9.5-9.5 9.5S.5 26.2.5 21V10C.5 4.8 4.8.5 10 .5z" class="stscroll0"/><path d="M10 7.6c.3 0 .5.2.5.5v3.5c0 .3-.2.5-.5.5s-.5-.2-.5-.5V8.1c0-.3.2-.5.5-.5z" class="stscroll1"/></svg>
	.wrapper.bg-mobile.bg-brown-gradient
		.box
			.promoblock-wrapper
				.promoblock-inner
					// сьтруктура все таки бует разной
					// модификатор .type-news
					// здесь если нет картинки, то .promoblock-item-bg убирается полностью
					// атрибут transition-delay надо тоже задается карточкам индивидуально, т.к. размеры картчоке могут быть разные и вобщем в жопу
					.promoblock-item.w33.type-news(style='transition-delay: 0s;')
						a(href="#").promoblock-item-link
							.promoblock-item-bg
								img(src="img/promoblock/1.jpg", alt="")
							.promoblock-item-content
								.promoblock-item-content-inner
									.title.h4 В Татарстане 30 августа нерабочий день
									.caption 30 августа, 2017
							object.item-type-wrapper
								a(href="#").item-type Новости
					.promoblock-item.w33.type-news(style='transition-delay: 0.1s;')
						a(href="#").promoblock-item-link
							.promoblock-item-bg
								img(src="img/promoblock/2.jpg", alt="")
							.promoblock-item-content
								.promoblock-item-content-inner
									.title.h4 В Кыргызстане 31 августа и 1 сентября нерабочие дни. Эти дни
									.caption 29 августа, 2017
							object.item-type-wrapper
								a(href="#").item-type Новости
					.promoblock-item.w33.type-news(style='transition-delay: 0.2s;')
						a(href="#").promoblock-item-link
							.promoblock-item-content
								.promoblock-item-content-inner
									.title.h4 Нерабочие дни в ряде городов и стран в связи с празднованием Курбан Байрам
									.caption 29 августа, 2017
							object.item-type-wrapper
								a(href="#").item-type Новости
					// модификатор .type-promotion
					// у него 2 цвета по дефолту оранжевый. для черного модификатор .bg-black
					.promoblock-item.w33.type-promotion(style='transition-delay: 0s;')
						a(href="#").promoblock-item-link
							.promoblock-item-bg
								img(src="img/promoblock/3.jpg", alt="")
							.promoblock-item-content
								.promoblock-item-content-inner
									.title.h4 Осенняя акция: отправь посылку через наш сервис и получи бонус 100 ₽ на доставку следующей посылки 
									.caption 30 сентября, 2017
							object.item-type-wrapper
								a(href="#").item-type Акция
								a(href="#").item-type 10 сентября — 25 октября
					// модификатор .type-feature, возможные бэкграунды желтый(по дефолту): .bg-pink,.bg-brown 
					// картинка слева  по дефолту, справа  - .image-right
					// при  w33 не важно
					// на этих карточках у .title модификтаор .h3
					// и для высоких кратинок типа мобилки модификатор .image-big 
					// у блока с белым текстом другие клссы на кнопке, если проблема их перевесить - пиши. перестилизую
					.promoblock-item.w66.type-feature.image-big(style='transition-delay: 0.1s;')
						a(href="#").promoblock-item-link
							.promoblock-item-bg
								img(src="img/promoblock/4.png", alt="")
							.promoblock-item-content
								.promoblock-item-content-inner
									.title.h3 Доставка становится проще и быстрее
									.text.sm Установите мобильное приложение КСЭ и получите скидку 15%. Накапливайте баллы и оплачивайте им заказы.
									.btn.color-black.type-round.not-trans
										.btn-inner 
											span Установить
					.promoblock-item.w50.type-feature.image-right.bg-brown(style='transition-delay: 0s;')
						a(href="#").promoblock-item-link
							.promoblock-item-bg
								img(src="img/promoblock/6.png", alt="")
							.promoblock-item-content
								.promoblock-item-content-inner
									.title.h3 Отправка и комплектация подарков
									.btn.color-white.type-round.color-reverse
										.btn-inner 
											span Подробнее
					.promoblock-item.w50.type-feature.bg-brown(style='transition-delay: 0.1s;')
						a(href="#").promoblock-item-link
							.promoblock-item-bg
								img(src="img/promoblock/6.png", alt="")
							.promoblock-item-content
								.promoblock-item-content-inner
									.title.h3 Отправка и комплектация подарков
									.btn.color-white.type-round.color-reverse
										.btn-inner 
											span Подробнее
					.promoblock-item.w33.type-feature.bg-pink(style='transition-delay: 0s;')
						a(href="#").promoblock-item-link
							.promoblock-item-bg
								img(src="img/promoblock/7.png", alt="")
							.promoblock-item-content
								.promoblock-item-content-inner
									.title.h3 Бесплатное страхование грузов
					.promoblock-item.w66.type-feature.image-right(style='transition-delay: 0.1s;')
						a(href="#").promoblock-item-link
							.promoblock-item-bg
								img(src="img/promoblock/10.png", alt="")
							.promoblock-item-content
								.promoblock-item-content-inner
									.title.h3 Таможенный перевозчик
									.text.sm КурьерСервисЭкспресс — надежный партнер для осуществления доставки любых грузов, на любые расстояния, в любую точку мира. 
									.btn.color-black.type-round.not-trans
										.btn-inner 
											span Подробнее
					.promoblock-item.w66.type-feature(style='transition-delay: 0s;')
						a(href="#").promoblock-item-link
							.promoblock-item-bg
								img(src="img/promoblock/6.png", alt="")
							.promoblock-item-content
								.promoblock-item-content-inner
									.title.h3 Таможенный перевозчик
									.text.sm КурьерСервисЭкспресс — надежный партнер для осуществления доставки любых грузов, на любые расстояния, в любую точку мира. 
									.btn.color-black.type-round.not-trans
										.btn-inner 
											span Подробнее
					.promoblock-item.w33.type-feature.image-right(style='transition-delay: 0.1s;')
						a(href="#").promoblock-item-link
							.promoblock-item-bg
								img(src="img/promoblock/10.png", alt="")
							.promoblock-item-content
								.promoblock-item-content-inner
									.title.h3 Таможенный перевозчик
									.text.sm КурьерСервисЭкспресс — надежный партнер для осуществления доставки любых грузов, на любые расстояния, в любую точку мира. 
									.btn.color-black.type-round.not-trans
										.btn-inner 
											span Подробнее
					// .type-sale
					// у title модификтаор .h3
					.promoblock-item.w50.type-sale(style='transition-delay: 0s;')
						a(href="#").promoblock-item-link
							.promoblock-item-bg
								img(src="img/promoblock/5.jpg", alt="")
							.promoblock-item-content
								.promoblock-item-content-inner
									.title.h4 Экспресс-доставка
									.text.sm Экспресс в логистике — это доставка на следующий день по большинству направлений.
							object.item-type-wrapper
								a(href="#").item-type Услуги
					.promoblock-item.w33.type-sale(style='transition-delay: 0.1s;')
						a(href="#").promoblock-item-link
							.promoblock-item-bg
								img(src="img/promoblock/8.jpg", alt="")
							.promoblock-item-content
								.promoblock-item-content-inner
									.title.h4 Хранение и комплектация
									.text
							object.item-type-wrapper
								a(href="#").item-type Услуги
					.promoblock-item.w33.type-sale(style='transition-delay: 0s;')
						a(href="#").promoblock-item-link
							.promoblock-item-bg
								img(src="img/promoblock/9.jpg", alt="")
							.promoblock-item-content
								.promoblock-item-content-inner
									.title.h4 Комплексное решение для интернет-магазинов
									.text
							object.item-type-wrapper
								a(href="#").item-type Услуги
					.promoblock-item.w33.type-sale(style='transition-delay: 0.1s;')
						a(href="#").promoblock-item-link
							.promoblock-item-bg
								img(src="img/promoblock/11.jpg", alt="")
							.promoblock-item-content
								.promoblock-item-content-inner
									.title.h4 Доставка c температурным режимом
									.text
							object.item-type-wrapper
								a(href="#").item-type Услуги
					.promoblock-item.w33.type-sale(style='transition-delay: 0.2s;')
						a(href="#").promoblock-item-link
							.promoblock-item-bg
								img(src="img/promoblock/11.jpg", alt="")
							.promoblock-item-content
								.promoblock-item-content-inner
									.title.h4 Доставка c температурным режимом Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora omnis officiis dicta, ullam ut dolores harum itaque a saepe fugit ex, minima blanditiis architecto quibusdam nobis laudantium rerum sit autem in commodi voluptatum voluptatibus! Minima, dolorum. Nemo error officia, explicabo, tempora, dolores commodi natus alias quod magni sunt consequuntur. Consectetur quisquam, culpa nam! Ad, optio.
									.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ducimus impedit, rerum corporis quam ad est sint, temporibus voluptates, saepe iste explicabo perspiciatis molestias nostrum aliquid. Odit ipsa similique excepturi!
							object.item-type-wrapper
								a(href="#").item-type Услуги

	.wrapper.js-anim
		.wrapper-bg
			.wrapper-bg-img.js-image.bg(data-src='img/bgwrapper/1.jpg')
		.box
			.row.padding-big
				.columns.large-6.medium-6.small-12
					.block-about
						h2.title.h2.white Профессиональный логистический оператор
						.text.white Широкий спектр транспортных возможностей позволяют обеспечить доставку документов и грузов по принципу «от двери до двери» в любую точку планеты.
						a(href="").btn.color-white.type-round
							.btn-inner 
								span Подробнее
				.columns.large-6.medium-6.small-12
					.block-about
						.block-about-slider
							.block-about-slider-inner.js-block-about-slider
								.block-about-slider-item
									.block-about-slider-title 250+
									.text.sm.white Филиалов и представительств компании КурьерСервис Экспресс
								.block-about-slider-item
									.block-about-slider-title 20
									.text.sm.white Лет успешной работы на рынке курьерских услуг
								.block-about-slider-item
									.block-about-slider-title 218
									.text.sm.white Cтран мира, в которые осуществляется доставка почтовых отправлений и грузов
								.block-about-slider-item
									.block-about-slider-title 2000+
									.text.sm.white Клиентов среди малого, среднего и крупного бизнеса по всему миру
							.slider-dots
	.wrapper.bg-white.js-anim
		.box
			.content.padding-big
				.offices-map
					.title.h2 Более 250 офисов по всей России
					.map-wrapper
						// согласовать формат прелдставления данных о точках
						// после интегрировать скрипт загрузки точек из local/workflow
						// иничу карту по классу, но айди все арвно нужен и если карт несколько то он уникален
						.map-elem.js-map#map-1(data-pinimg='img/mappins/pin_office.svg',data-maptype='offices')
						//- .map-wrapper
						//- 	.map-elem.js-map#map-2(data-pinimg='img/pin-black.svg',data-lat='55.751574',data-lon='37.573856')
					.map-button
						a(href="#").btn.color-orange.type-round
							.btn-inner 
								span Все офисы
	.wrapper.brown
		.feature-wrapper
			a(href="#").feature-item
				.feature-item-inner
					.feature-item-content
						.feature-item-bg
							.feature-item-bg-inner.js-image.bg(data-src='img/feature/1.jpg')
						.feature-item-text
								.title.h3.white Франчайзинг
			a(href="#").feature-item
				.feature-item-inner
					.feature-item-content
						.feature-item-bg
							.feature-item-bg-inner.js-image.bg(data-src='img/feature/2.jpg')
						.feature-item-text
								.title.h3.white Закупки
			a(href="#").feature-item
				.feature-item-inner
					.feature-item-content
						.feature-item-bg
							.feature-item-bg-inner.js-image.bg(data-src='img/feature/3.jpg')
						.feature-item-text
								.title.h3.white Сотрудничество
	include ./partials/_ask