.border-block
	border: 1px solid $inputborder
	padding: 53px 30px 40px 30px
	border-radius: 3px
	margin-bottom: 15px
	+r(640)
		padding: 20px 15px 20px 15px
	&:first-child
		margin-top: 20px
	&.hideborder
		border-color: transparent
		padding-left: 0
		padding-top: 0
		padding-right: 0
		padding-bottom: 25px
		margin-top: 10px
		.border-block-content
			max-width: 100%
	&.bg-yellow
		border: none 
		background-color: $brandlight
	&-content 
		max-width: 610px
		margin: 0 auto
		font-size: 0
		&-head 
			display: flex
			flex-flow: row nowrap
			justify-content: space-between
			align-items: center
		&>.title.h3 
			margin-bottom: 28px

			+r(640)
				margin-bottom: 20px	
		&-left,&-right 
			display: inline-block
			vertical-align: top
		&-left
			width: 60%
			max-width: calc(100% - 180px)
		&-right 
			width: 40%
			min-width: 180px
			text-align: right
			.title.h3
				font-weight: 500
				// margin-bottom: 5px
				font-size: 26px
			a 
				font-weight: 500
				color: $brand
				font-size: 14px
				margin-top: 20px
				display: inline-block
				
			
.form-block
	&-head
		position: relative
		display: flex 
		flex-flow: row nowrap
		justify-content: space-between
		align-items: center
		margin-bottom: 21px
		+r(640)
			margin-bottom: 15px
		.input-icon
			position: static
			+vertical
			transform: rotate(90deg)
			svg 
				display: inline-block
				vertical-align: middle
	&-table
		display: table
		width: 100%
		+rm(501)
			padding-left: 35px
		&-head
			display: table-header-group
			.form-block-table-item
				padding-top: 0
				padding-bottom: 15px
			+r(500)
				display: none
		&-row 
			display: table-row
			+rm(501)
				.select-radio-label 
					margin-left: -35px
			+r(500)
				display: block
				padding-left: 35px
				.form-block-table-item
					display: inline-block
					vertical-align: top
					border-top: none
					width: 100%
					&:not(:first-child)
						width: 50%
						border-bottom: 1px solid $inputborder
						vertical-align: bottom
						position: relative

						&:before
							content: attr(data-alttext)
							font-size: 12px
							color: $caption
							display: block
							
					&:first-child
						margin-left: -35px
			.form-block-table-item
				border-top: 1px solid $inputborder
				&:not(:first-child)
					padding-top: 30px
		&-item 
			display: table-cell
			vertical-align: top
			padding-top: 25px
			padding-bottom: 23px
			&:not(:first-child)
				min-width: 100px
			&:last-child
				text-align: right

	&-options
		.accordeon-wrapper
			.form-block-radio
				&:first-child
					padding-top: 25px
		.accordeon-head
			margin-top: 25px
			padding-left: 35px
		&-item
			padding-left: 35px
			&.form-block-radio
				&:not(:first-child)
					padding-top: 20px
				.form-block-options-item-inner 
					flex-flow: column wrap
					align-items: flex-start
					padding-bottom: 26px
					.select-radio-inner
						padding-bottom: 7px
					.select-radio-text
						max-width: 100%
						line-height: 1.5
					.select-radio-input
						margin-top: 2px
					.caption
						font-size: 14px
						padding-left: 7px
						margin-bottom: 10px
					.text.sm 
						padding-left: 7px
						a 
							box-shadow: none
							font-size: 14px
							&:not(:last-child)
								margin-right: 42px
								display: inline-block
								
							&[href^='tel:']
								font-weight: 600
								&:hover
									+notouch
										color: $brand
								&:active
									color: $brandh 
									transition-duration: 0s
							&[href^='mailto:']	
								color: $brand
								&:hover
									+notouch
										color: $brandh
								&:active
									color: $brandh 
									transition-duration: 0s
				.select-radio-label
					margin-left: -27px

				
			&-inner 
				display: flex
				flex-flow: row nowrap
				justify-content: space-between
				align-items: center
				border-bottom: 1px solid $inputborder 
				padding-bottom: 6px
				.quest-wrap
					margin-right: auto
				.select-radio-label
					margin-left: -35px
					.select-radio-inner
						padding-right: 0
						margin-right: 10px
					.select-radio-text
						max-width: 300px
			&-inputs
				padding-top: 25px
				padding-bottom: 10px

			
			

.help-block.help.primary
	font-size: 16px
.form-block
	&>.link-icon
		margin-top: -10px
		margin-bottom: 20px
	&-column
		display: inline-block
		vertical-align: top
		width: 50%
		+r(600)
			width: 100%
		&:first-child
			+r(600)
				display: flex
				order: 1
			.input-row
				margin-right: 0 !important
		&:last-child
			+r(600)
				display: flex
				order: 2
		&>img 
			max-width: 80%
			display: block
			margin: 0 auto
			max-height: 180px
	&-result
		display: block
		width: 100%

		padding: 0px 10px
		margin-bottom: 10px
		&-inner
			border-top: 1px solid $dark
			border-bottom: 1px solid $dark
			padding: 15px 0
			&>div 
				display: inline-block
				vertical-align: middle
				width: 50%
		&-text 
			font-weight: 500
			font-size: 16px
			color: $dark
	&-calcreset
		padding-left: 10px
		.link-icon.sm
			&:not(:hover)
				.link-icon-icon
					color: $graylink !important
	&-mainwrapper
	&-subwrapper
		.accordeon
			&-body
				// padding-bottom: 30px
				padding-top: 15px
			&-wrapper
				padding-bottom: 25px

.block-buttons
	display: flex 
	align-items: center
	flex-flow: row wrap
	justify-content: space-around
	+r(640)
		.btn,.link-icon
			order: 2
		.btn-inner
			padding-left: 10px
			padding-right: 10px
	.btn 
		flex-shrink: 1
		+r(640)
			margin-left: 0
			margin-right: 0
		&:last-child
			margin-right: 0
		+r(1350)
			min-width: 170px
		&.color-gray
			margin-left: auto
		&.btn-next
			+r(640)
				order: 1
				width: 100%


		
.accordeon
	&-head
		position: relative
		
	&-body 
		&-head
			padding-bottom: 15px
			position: relative
			
			&>div
				display: inline-block
				vertical-align: middle
			+r(600)

				.title
					display: inline
		&-loop
			&>.form-block
				padding: 25px
				+r(600)
					padding: 15px
				&:not(:last-child)
					border-bottom: 1px solid $inputborder
				&-head 

				
	&-wrapper
		&.block-yellow
			margin-bottom: 30px
			padding-bottom: 15px
			.accordeon-head
				padding-left: 25px
				padding-right: 25px		
				display: flex 
				justify-content: space-between
				align-items: center
				padding-top: 15px
				border-top: 1px solid $inputborder 
				+tr(border-color .3s)
				+r(600)
					padding-left: 15px
					padding-right: 15px	
					.link-dotted
						max-width: 85%
				.link-dotted-text
					font-size: 16px
				.link-icon
					&:not(:hover)
						.link-icon-icon
							color: $graylink
				&:not(.active)
					border-color: transparent
					.link-icon
						opacity: 0
						visibility: hidden
						+r(600)
							display: none
							

			.accordeon-body-head
				padding-left: 25px
				padding-right: 25px
				+r(600)
					padding-left: 15px
					padding-right: 15px		
			.form-block-column
				padding-bottom: 20px
			.form-block-head + .help-block
				margin-bottom: 15px	
			.form-block
				.form-block
					padding-left: 0 !important
					padding-right: 0 !important

.block-yellow
	background-color: $brandlight