* :-ms-input-placeholder
	color: $placeholder !important
	font-family: $f
.help-block
	margin-top: 8px
	width: 100%
	font-size: 12px
	margin-top: 8px
	position: static
	&.help
		color: $caption
		display: block !important
		// background-color: green
.form-error
	color: $danger;
	z-index: 1
	+tr(opacity .3s)

.js-repeatBlock
	position: relative
	&:not(.input-row)
		&>.small-link
			right: -28px
			+r(640)
				right: 0
	&>.small-link
		display: inline-block
		position: absolute
		// height: 30px
		// text-align: right
		// width: 29px
		// right: -5px
		// top: -3px
		// +vertical
		// .icon-closemodal
		// 	display: inline-block
		// 	vertical-align: middle
		// 	width: 13px
		// 	height: 13px
		// 	color: $inputborder
		// 	cursor: pointer
		// 	&:hover
		// 		+notouch
		// 			+tr(color .3s)
		// 			color: $brand
		// 	&:active
		// 		color: $brand
		display: inline-block
		position: absolute
		height: 60px
		text-align: left
		width: 29px
		+vertical
		right: -20px
		bottom: 20px
		+r(640)
			right: 0
			bottom: -15px
			height: 30px
		.icon-closemodal
			display: inline-block
			vertical-align: middle
			width: 13px
			height: 13px
			color: $inputborder
			cursor: pointer
			&:hover
				+notouch
					+tr(color .3s)
					color: $brand
			&:active
				color: $brand
.input
	&-row
		font-size: 0
		margin: 0 -10px
		position: relative
		.btn
			margin: 0
			vertical-align: top
			width: 100%
		&.multi-date
			&>.caption 
				padding-left: 10px
				color: $dark
				margin-bottom: 4px

		&.gap-small
			margin: 0 -7px
			.input-item
				padding-left: 7px
				padding-right: 7px
		&.gap-radio
			margin: 0 -2.5px
			padding-bottom: 15px
			.input-item
				padding-left: 2.5px
				padding-right: 2.5px
				padding-bottom: 5px	
				+r(407)
					width: 100%
		&.gap-search
			margin: 0 -3.5px
			.input-item
				padding-left: 3.5px
				padding-right: 3.5px
				padding-bottom: 5px
				.btn 
					height: 62px
				.help-block 
					margin-bottom: 5px
				&:first-child
					.input-wrapper,.input-main,.btn
						border-top-right-radius: 0
						border-bottom-right-radius: 0
				&:nth-child(2)
					.input-wrapper,.input-main,.btn
						border-radius: 0
				&:nth-child(3)
					.input-wrapper,.input-main,.btn
						border-top-left-radius: 0
						border-bottom-left-radius: 0
	&-item
		display: inline-block
		vertical-align: top
		width: 100%
		padding-left: 10px
		padding-right: 10px
		padding-bottom: 20px
		&.w33
			width: 33.33%
			+r(800)
				width: 50%
		&.w50
			width: 50%
			+r(640)
				width: 100%
		&.multi
			position: relative
			.input-dropdown-target
				z-index: 2
			+rm(641)
				.input-wrapper
					display: inline-block
					vertical-align: top
					width: 50%
					z-index: 1
					&:first-child
						border-top-right-radius: 0
						border-bottom-right-radius: 0
						.input-main
							border-top-right-radius: 0
							border-bottom-right-radius: 0
					&:last-child
						border-top-left-radius: 0
						border-bottom-left-radius: 0
						.input-main
							border-top-left-radius: 0
							border-bottom-left-radius: 0
			+r(640)
				.input-wrapper
					&:first-child
						border-bottom-right-radius: 0
						border-bottom-left-radius: 0
						border-bottom: none
						.input-main
							border-bottom-right-radius: 0
							border-bottom-left-radius: 0
					&:last-child
						border-top-right-radius: 0
						border-top-left-radius: 0
						.input-main
							border-top-right-radius: 0
							border-top-left-radius: 0
		&>.select-radio-label
			width: 100%
			&.radio-simple
				.select-radio-text
					max-width: 100% !important
	&-wrapper
		width: 100%
		display: inline-block
		position: relative
		+tr(border .3s)
		border-radius: 3px;
		border: 1px solid $inputborder
		text-align: left
		.autocomplete-suggestions
			position: absolute
			width: 100% !important
			top: 100%
			margin-top: 15px
			background-color: $white 
			box-shadow: 0px 1px 20px 0px rgba(44, 30, 28, 0.12);
			font-size: 14px
			padding: 10px 20px
			overflow-y: auto
			+scrollbar
				width: 5px
			+scrollbar-thumb	
				background-color: #e0dedd
			.autocomplete-suggestion
				padding: 10px 0
				&:nth-child(n + 5)
					display: none
		&:hover
			border-color: $brandh

		&.is-open
			border-color: $dark
			z-index: 1
		&.disabled
			pointer-events: none 
			*
				pointer-events: none
			opacity: .4
		&.has-error
			.help
				opacity: 0
			border-color: $danger
			.input-main.error,.CaptionCont
				border-color: $danger
			&:hover
				border-color: $danger
		&.has-success
			// .CaptionCont
			// 	border-color: $brandh
		// &.has-success:not(:hover)
		// 	border-bottom-color: transparent
		textarea
			line-height: 1.35
			+rem(padding-bottom,12px)
			+rem(min-height,151px)
			border-top:  none
			border-left:  none
			outline: none
			border-right:  none

		select
			padding-top: 27px
			border-top: none !important
			border-left: none !important
			border-right: none  !important
		.SumoSelect,.CaptionCont 
			border-radius: 3px
			&+.CaptionCont 
				display: none
	&-main
		font-family: $f
		font-weight: 400
		font-style: normal
		width: 100%
		+tr(all .3s)
		background-color: $white
		display: block
		font-size: 16px
		color: $dark
		border-color: $inputborder
		padding-left: 15px
		padding-right: 37px
		padding-bottom: 10px
		padding-top: 28px
		border-radius: 3px
		border-bottom: 2px solid transparent
		&:focus
			& ~ .input-countdown
				opacity: .4
				visibility: visible
		&.js-select
			cursor: pointer
			+r(640)
				opacity: 1
				&+.CaptionCont
					z-index: 1
					background: 0 0
					pointer-events: none
					span 
						opacity: 0
					label
						background-color: $white
			&~ .optWrapper
				top: 100%
				margin-top: 10px
				box-shadow: 0px 1px 20px 0px rgba(44, 30, 28, 0.12);
				border-radius: 3px
				border: none
				padding: 15px 15px
				font-size: 14px
				z-index: 2
				ul 
					max-height: 180px
					width: 100%
					overflow-y: auto
					+scrollbar
						width: 5px
					+scrollbar-thumb	
						background-color: #e0dedd
					label
						padding: 10px 8px
				li.opt
					border: none
					+tr(color .3s)
					position: relative
					padding: 0 !important
					+nosel
					border-radius: 0 !important
					&.sel 
						background-color: #e0dedd
					&:before
						content: ''
						display: inline-block
						+contain
						+tr(transform .2s)
						background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACsAAAAsCAMAAADLhrFKAAAAJ1BMVEVHcEwtGBUtGBUtGBUtGBUtGBUtGBUtGBUtGBUtGBUtGBUtGBUtGBUi0oQZAAAADHRSTlMA7Rs1CWmK21Wmzr/HNujwAAAAyUlEQVR42o2U0Q6EIBADBZZFoP//vRePh42J4vBGMmnaUj3wyQWjpWK0Oka9U9ImRvOYRtHWMi0gJY6qcLRy1Dk6DKM0V05Sob2KmrUhTZirC5t1SSfcq6QO2xJ2kBN2YIM76OGA5FKluegrWJNedpAfzL7t4HS73y80vYzWR7k1uw025RaXC2222eklHXXp3JfkFg7aMxZ5WlkOPofg+ksvB+Oj/xUpfcqG0SXLRkBkoy2pwdHiLdq4LQHkwz/QkCX5/MCnbz/IH2umCWXGP6xgAAAAAElFTkSuQmCC);
						right: 1px
						height: 100%
						top: -1px
						position: absolute
						pointer-events: none
						width: 19px
						transform: scale(0)
					&.selected
						font-weight: bold
						color: $dark
						&:before
							transform: none
					&:hover
						color: $brand

		&.valid
			border-color: $brand
			& +.CaptionCont 
				border-color: $brand
		&:focus 
			& ~ label,& ~ .label
				opacity: .4
		+placeholder
			color: $placeholder
			font-family: $f
		&.date
			cursor: pointer
		&.js-filter
			+notouch
				z-index: -1
			&~.optWrapper 
				position: static !important
				.placeholder
					pointer-events: none
			padding-top: 20px
			padding-bottom: 18px
			&~.CaptionCont
				padding-top: 22px
				padding-bottom: 18px
				padding-left: 23px
				position: static !important
				cursor: pointer
				height: auto
				min-height: 60px
				padding-right: 15px
				// pointer-events: none

				.placeholder
					color: $dark
					font-style: normal
					font-size: 16px
					font-weight: 500
				label
					bottom: auto
					height: 60px
					width: 40px
					i 
						margin: auto
						top: 0
						right: 0
						bottom: 0
						left: 0
				.search-txt
					position: static !important
					border: 1px solid $inputborder
					line-height: 1
					font-size: 14px
					padding-top: 14px
					padding-bottom: 14px
					margin-top: 27px
					background-color: $white
					border-radius: 30px
					padding-left: 20px
					padding-right: 20px
			&~.optWrapper 
				border: none !important
				margin-top: -2px
				padding-left: 15px

				ul
					display: block
					width: 100%
					+scrollbar
						width: 5px
					+scrollbar-thumb	
						background-color: #e0dedd
					max-height: 240px
					.opt 
						border: none
						color: $dark
						border-radius: 0 !important
						padding-top: 9px
						padding-bottom: 9px
						font-size: 16px
						&:after
							content: attr(data-text)
							display: inline-block
							position: absolute
							right: 20px
							font-family: $f
							color: $inputborder
							top: 11px
							white-space: nowrap
							font-size: 14px
						&.sel 
							background-color: #e0dedd
						&.selected
							span i
								border-color: $brand !important
								&:before
									transform: none
						span
							width: auto
							i
								background: $white
								border-color: $inputborder
								box-shadow: none !important
								margin-left: 0 !important
								background-image: none !important
								&:before
									content: ''
									position: absolute
									width: 17px
									height: 18px
									top: -5px
									right: -3px
									left: auto
									bottom: auto
									+contain
									+tr(transform .3s)
									transform: scale(0)
									opacity: 1 !important
									transform-origin: left bottom




				

	&-icon
		position: absolute
		bottom: 0
		right: 0
		width: 28px
		height: 31px
		svg 
			height: 18px
			width: 16px
			overflow: visible
		&.swap
			cursor: pointer
			svg 
				overflow: visible
			.stswap
				transition: transform .2s ease-in-out
			&:hover
				.stswap
					transition: transform .2s ease-in-out
					&:nth-of-type(1)
						transform: translateX(-2px)
					&:nth-of-type(2)
						transform: translateX(2px)

	&-label
		+rem(font-size,12px)
		font-weight: 400;
		position: absolute;
		pointer-events: none;
		color: $dark
		top: 7px
		left: 15px
		z-index: 1
		+tr(opacity .3s)
		+notouch
			z-index: 0
	&-countdown
		position: absolute
		+rem(font-size,12px)
		font-weight: 400;
		position: absolute;
		pointer-events: none;
		color: $dark
		top: 7px
		right: 15px
		z-index: 0
		opacity: 0
		visibility: hidden
		transition: opacity .3s, visibility .3s
	&-dropdown
		&.active
			&~.input-dropdown-target
				opacity: 1
				visibility: visible 
				transform: none
		&-target
			position: absolute
			left: 0
			right: 0
			top: 100%
			z-index: 1
			margin-top: 10px;
			padding: 10px
			border-radius: 3px
			transition: opacity .3s, visibility .3s, transform .3s
			opacity: 0
			visibility: hidden
			background-color: $white
			box-shadow: 0px 1px 20px 0px rgba(44, 30, 28, 0.12);
			transform: scale(0) 
			transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
			&.active
				opacity: 1
				visibility: visible 
				transform: none
		&-content 
			max-height: 11.25rem;
			width: 100%;
			overflow-y: auto
			+scrollbar
				width: 5px
			+scrollbar-thumb	
				background-color: #e0dedd
			.option 
				padding: 10px 0
				font-size: 16px
				+nosel
				+tr(color .3s)
				cursor: pointer
				&:hover
					color: $brand
				&.active
					font-weight: 500

				span 
					padding: 0 10px
					display: block
					pointer-events: none
			.text 
				font-size: 14px
				&:not(:first-child)
					margin-top: 10px

					
.SumoSelect
	background-color: $white
	&.open 
		&~.input-label
			opacity: .4
		.CaptionCont
			i 
				transform: scale(1,-1)
		&>.search>label, &>.search>span
			visibility: visible !important
	.MultiControls
		.btnCancel
			display: none !important
		.btnOk
			width: auto !important
			font-size: 14px
			border-radius: 3px
			line-height: 1
			background-color: $brand
			+tr(background-color .3s)
			color: $white
			padding: 15px 50px !important
			font-family: $f
			&:hover
				background-color: $brandh !important


.searchinp
	display: block
	width: 100%
	position: relative
	&.darken
		.searchinp-input
			color: $dark
		.searchinp-btn
			+notouch
				&:hover
					color: $brandh
	&-input 
		display: block
		width: 100%
		border-radius: 30px
		background: 0 0
		border: 1px solid #564b49
		color: $white 
		line-height: 1
		padding-top: 12px
		padding-bottom: 12px
		padding-left: 20px
		padding-right: 55px
		+tr(border-color .3s)
		+placeholder 
			color: #564b49
		&:focus
			border-color: $brand
	&-btn 
		position: absolute
		right: 0
		top: 0
		bottom: 0
		width: 50px
		color: #c0bcbb
		+vertical
		padding-right: 10px
		+tr(color .3s)
		border-top-right-radius: 30px
		border-bottom-right-radius: 30px
		// padding-bottom: 5px
		&:hover
			+notouch
				color: $white
		svg 
			width: 20px
			height: 20px
			display: inline-block
			vertical-align: middle
			
.offersearch
	font-size: 0
	width: 100%
	display: inline-block
	display: flex
	flex-flow: row nowrap
	&-input,&-button
		// display: inline-block
		// vertical-align: top
		height: 45px
	&-button
		border-top-left-radius: 0
		border-bottom-left-radius: 0
		margin: 0
		min-width: 195px
		+r(1400)
			min-width: 175px
			span 
				font-size: 14px
		+r(600)
			min-width: 95px
			padding-left: 5px
			padding-right: 5px
			white-space: nowrap

		.btn-inner
			padding-left: 0
			padding-right: 0
			span 
				+r(600)
					font-size: 0
					&:before
						content: attr(data-text)
						font-size: 13px
						font-weight: 500
	&-input 
		border: 1px solid $inputborder
		border-right: none
		+tr(border-color .3s)
		padding-left: 15px
		padding-right: 15px
		flex-grow: 1
		+placeholder 
			color: #bfbfbf
		&:hover
			border-color: $brandh
		&:focus 
			border-color: $dark
			
		&:not(:valid)
			&~ .offersearch-button
				pointer-events: none
	&-wrap 
		position: relative
		z-index: 0
		.input-dropdown-target
			width: 100%
			max-width: 330px
			padding: 20px

		
.js-tooltip
	&.toltip-shown
		.input-dropdown-target
			opacity: 1
			visibility: visible 
			transform: none
			backface-visibility: hidden
a.select-radio-label
	&:hover
		+notouch
			.select-radio-text
				color: $brand
	&.active
		.select-radio-text
			color: $brand
		pointer-events: none
		.select-radio-inner
			border-color: $brand
	.select-radio-text
		color: #4e4544 
		+tr(color .3s)
.select-radio
	display: inline-block
	vertical-align: middle
	margin: 5px 5px 15px 0
	&.disabled 
		opacity: 0.5
		pointer-events: none 
		* 
			pointer-events: none 
	&-label 
		display: inline-block
		position: relative
		cursor: pointer
		+nosel
		&.radio-simple
			.select-radio-input
				width: 36px !important
				height: 20px
				vertical-align: top
				margin-top: -3px
				&-real
					&[type='checkbox']
						&+.select-radio-inner
							.select-radio-input
								overflow: visible
								.select-radio-input-fake
									border-radius: 3px
									position: relative
									&:after
										width: 19px
										height: 19px
										background-color: transparent 
										margin-bottom: 2px
										border-radius: 0
										+contain
										position: absolute
										right: -4px
										top: -5px
										transform-origin: left bottom
										background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACsAAAAsCAMAAADLhrFKAAAAJ1BMVEVHcEwtGBUtGBUtGBUtGBUtGBUtGBUtGBUtGBUtGBUtGBUtGBUtGBUi0oQZAAAADHRSTlMA7Rs1CWmK21Wmzr/HNujwAAAAyUlEQVR42o2U0Q6EIBADBZZFoP//vRePh42J4vBGMmnaUj3wyQWjpWK0Oka9U9ImRvOYRtHWMi0gJY6qcLRy1Dk6DKM0V05Sob2KmrUhTZirC5t1SSfcq6QO2xJ2kBN2YIM76OGA5FKluegrWJNedpAfzL7t4HS73y80vYzWR7k1uw025RaXC2222eklHXXp3JfkFg7aMxZ5WlkOPofg+ksvB+Oj/xUpfcqG0SXLRkBkoy2pwdHiLdq4LQHkwz/QkCX5/MCnbz/IH2umCWXGP6xgAAAAAElFTkSuQmCC);
				&-fake
					display: inline-block
					width: 20px
					height: 20px
					border-radius: 50%
					border: 1px solid $inputborder
					+vertical 
					&:after
						content: ''
						display: inline-block
						vertical-align: middle
						width: 8px
						height: 8px
						border-radius: 50%
						background-color: $dark
						+tr(transform .3s cubic-bezier(.175,.885,.32,1.15))
						transform: scale(0)
			.select-radio-inner
				border: none
				text-align: left
				padding-left: 0
				height: auto
			.select-radio-text
				width: calc(100% - 36px)
				max-width: 240px

				a
					color: $brand 
					&:hover
						color: $brandh
				.caption
					display: block
					line-height: 1.4
					font-size: 14px
					margin-top: 12px
			.select-radio-input-real
				&:checked
					&~ .select-radio-inner
						.select-radio-input
							&-fake 
								border-color: $brand
								&:after
									transform: none
					// .select-radio-input
					// 	width: 32px
		&.radio-with-image
			height: auto
			
			width: 100%
			.select-radio
				&-inner
					height: auto
					min-width: 0
					width: 100%
					min-height: 90px
					padding-left: 10px
					padding-right: 10px
					+r(500)
						padding-left: 7px
						padding-right: 7px	
				&-image 
					width: 100%
					margin-bottom: 10px
					display: flex
					flex-flow: row wrap 
					justify-content: space-around
					margin-left: auto
					margin-right: auto
					margin-top: 9px
					max-width: 115px
					img 
						height: 21px
						margin-left: 2.5px
						margin-right: 2.5px
				&-text 
					font-size: 14px
	&-input
		+tr(width .3s)
		width: 0
		overflow: hidden
		height: 22px
		&-real
			opacity: 0
			visibility: hidden
			+coverdiv
			&:checked
				&~ .select-radio-inner
					border-color: $brand
					.ok
						transform: none
					.select-radio-input
						width: 22px

						
		&-fake
			width: 100%
			height: 100%
			display: inline-block
			
			
	&-inner 
		display: inline-block
		border: 1px solid $inputborder
		font-size: 0
		text-align: center
		width: 100%
		border-radius: 3px
		min-width: 105px
		padding-left: 23px
		padding-right: 23px
		padding-top: 10px
		padding-bottom: 10px
		height: 45px
		+vertical
		&>span 
			display: inline-block
			vertical-align: middle
			
	&-text 
		font-size: 16px
		line-height: 1.1
		
.vacancy-file
	max-width: 380px
	cursor: pointer 
	margin-bottom: 10px
	.caption,.link-icon
		pointer-events: none
	&:hover
		.link-icon-text
			background-image: none
	.link-icon
		margin-left: -5px
	.link-icon-text
		color: $brand
		display: inline-block
		vertical-align: middle
		padding-bottom: 3px
		padding-top: 9px
		+dotted-line($brand,bottom)
	.caption 
		line-height: 1.5
		padding-left: 23px
		font-size: 14px
		margin-top: 5px
	&.dz-started
		.link-icon,.caption 
			display: none
	&.dz-error
		opacity: .7
	.dz-preview
		display: inline-block
		position: relative
		
	.dz-success-mark
		width: 17px
		height: 20px
		color: $brand
	.dz-success-mark,.dz-details,.dz-remove
		display: inline-block
		vertical-align: top
	.dz-details
		font-size: 14px
		padding-left: 5px
		margin-top: -2px
	.dz-remove
		width: 11px
		height: 11px
		+tr(opacity .3s)
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAY1BMVEVHcEy5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubmZUC0UAAAAIHRSTlMA67fWHM0JBQ8TF+cmKzHw0drdvMnexYqtqrHkNnlfjIZKCR8AAACLSURBVHgBZdBBDoJQDIThAcGCiojKewqCc/9T2lRt0tDlt+nkh+QDwskKZO6CSskF7SWoWtEBbe2qNpmZDtXPHizOgGs0AE3Nq6o82asFdXO9c5zYv4CgNTeG00zO1cZS4qga7LZvkm1wO6rZt8G1+1pQtVLN9N+hK9y8TjBYyRYLSwGCvoFVLWiWD/OUCuj9E9SiAAAAAElFTkSuQmCC);
		position: absolute
		left: 100%
		top: 0
		margin-left: 15px
		margin-top: 5px
		+contain
	.dz-filename
		font-size: 14px;
		color: rgba(44, 30, 28, 0.702);
		line-height: 1.714;
	.dz-error-message
		font-size: 12px
		padding-left: 20px
		margin-top: 5px
		max-width: 235px
		color: rgb(221, 46, 27);
		line-height: 1.5;


	.dz-size
		color: $caption 
		display: block
		font-size: 12px
		color: rgba(180, 177, 177, 0.702);
		line-height: 1.667;


.ok 
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACsAAAAsCAMAAADLhrFKAAAAJ1BMVEVHcEwtGBUtGBUtGBUtGBUtGBUtGBUtGBUtGBUtGBUtGBUtGBUtGBUi0oQZAAAADHRSTlMA7Rs1CWmK21Wmzr/HNujwAAAAyUlEQVR42o2U0Q6EIBADBZZFoP//vRePh42J4vBGMmnaUj3wyQWjpWK0Oka9U9ImRvOYRtHWMi0gJY6qcLRy1Dk6DKM0V05Sob2KmrUhTZirC5t1SSfcq6QO2xJ2kBN2YIM76OGA5FKluegrWJNedpAfzL7t4HS73y80vYzWR7k1uw025RaXC2222eklHXXp3JfkFg7aMxZ5WlkOPofg+ksvB+Oj/xUpfcqG0SXLRkBkoy2pwdHiLdq4LQHkwz/QkCX5/MCnbz/IH2umCWXGP6xgAAAAAElFTkSuQmCC);
	+cover 
	+tr(transform .3s)
	transform: scale(0)
	transform-origin: left bottom
.icon-calendar
	color: $dark