.modal
	&-layout
		position: fixed
		left: 0
		right: 0
		bottom: 0
		top: 0
		width: 100%
		height: 100%
		margin: 0
		background-color: $modalbg
		z-index: 200
		opacity: 0
		visibility: hidden
		transition: opacity 0.3s 0s, visibility 0s 0.3s;
		+vertical
		contain: paint 
		overflow-y: auto
		&.modal-small
			.modal-container
				max-width: 416px
		&[data-modal='city']
			.modal-container
				padding: 0
				&-header
					padding-bottom: 42px
					&-close
						.small-link
							padding: 12px
		&[data-modal='diplom']
			.diplom-container
				max-width: 950px
				padding-left: 42px
				padding-right: 42px
				padding-bottom: 60px
				width: auto
				+r(640)
					padding-left: 20px
					padding-right: 20px
					padding-bottom: 40px
				.modal-container-header
					padding-bottom: 55px
					text-align: left
					+r(640)
						padding-bottom: 40px
					&-close
						.small-link
							padding: 12px
				&-inner
					+rm(641)
						margin-right: -30px
				&-image,&-content
					display: inline-block
					vertical-align: top
					text-align: left
					+r(640)
						width: 100%
				&-image 
					width: 46%
					padding-right: 5.5%
					+r(640)
						padding-right: 20px
						padding-left: 20px
						margin-bottom: 20px
				&-content
					width: 54%
					padding-right: 30px
					&:only-child
						width: 100%
					&>*
						max-width: 400px
					.text 
						margin-top: 25px
						+r(640)
							margin-top: 15px
					.caption
						margin-top: 20px
						font-size: 14px
						+r(640)
							margin-top: 10px
					.btn 
						margin-left: 0
						min-width: 225px
						margin-top: 40px
						+r(640)
							margin-top: 20px
					// padding-top: 30px

		&.modal-medium
			.modal-container
				max-width: 700px
				+rem(padding,51px 45px 45px)
				text-align: left
				+r(640)
					+rem(padding,30px 25px 25px)
				&-header
					padding-bottom: 42px
					text-align: left
					&-close
						.small-link
							padding: 12px
		&[data-modal='search']
			overflow: hidden
			&:before
				display: none
			.modal-container
				vertical-align: top
				margin: 0 auto
				position: static
				padding-top: 45px
				padding-right: 30px
				padding-left: 52px
				height: 100%
				display: flex
				flex-flow: column nowrap
				+r(600)
					padding-left: 20px
					padding-right: 20px
				&-header 
					padding-bottom: 30px
				&-content 
					flex-shrink: 1
					display: flex
					margin-right: -30px
					width: auto
					+r(600)
						margin-right: -20px
				.small-link
					padding: 8px
					+rm(601)
						position: static
					
		&.active
			visibility: visible
			opacity: 1
			transition: opacity 0.3s 0s, visibility 0s 0s;
			.modal-container
				transform: translateY(0)
	&-container
		display: inline-block
		vertical-align: middle 
		+rem(min-width,320px)
		+rem(max-width,885px)
		width: 100%
		background: $white
		position: relative
		transform: translateY(-40px)
		transition: transform .3s
		+rem(padding,0 60px 45px)
		+rem(margin,25px 0)
		position: relative
		border-radius: 3px

		&-header
			font-size: 0
			display: flex
			flex-flow: row nowrap
			width: 100%
			align-items: center
			&-search
				flex-grow: 1
				padding-right: 15px

			.small-link
				display: inline-block
				vertical-align: top
				width: 40px
				height: 40px
				color: $dark 
				+tr(color .3s)
				cursor: pointer
				position: absolute
				right: 0
				top: 0
				&:hover
					color: $brand
		&-content 
			position: relative
			flex-grow: 1
			.search-result-wrap
				overflow-y: auto
				position: absolute
				left: 0
				top: 0
				display: block
				padding-right: 60px
				+r(600)
					padding-right: 30px
				// +rh(800)
				// 	max-height: 380px
				// margin-top: 30px
		&-footer
			margin-top: 30px
			&.align-right
				text-align: right
			.btn 
				margin-top: 0

.city-chose
	&-city 
		display: inline-block
		color: $brand !important
		position: relative
		padding-bottom: 3px
		margin-bottom: 15px
		margin-left: -1px
		&:before
			content: "";
			height: 2px;
			position: absolute;
			left: 0;
			bottom: -2px;
			right: 0;
			background-image: linear-gradient(90deg,$brand,hsla(0,0%,100%,0) 25%);
			background-position: bottom;
			background-size: 6px 2px;
			background-repeat: repeat-x;
	&-content
		text-align: left
		padding-left: 35px
		padding-right: 35px
		padding-bottom: 30px
		.text 
			margin-bottom: 10px
		+r(640)
			padding-left: 20px
			padding-right: 20px		
	&-footer 
		font-size: 0
		width: 100%
		.btn 
			display: inline-block
			vertical-align: top
			width: 50%
			margin: 0
			border-radius: 0
			min-width: 0
			&.light 
				&:not(:hover)
					background-color: #fdebde
					border-color: #fdebde
					color: $dark
			.btn-inner
				padding-left: 0
				padding-right: 0
				span 
					font-size: 14px
			* 
				border-radius: 0
.modal-form
	&-footer
		border-top: 1px solid $inputborder
		padding-top: 30px
		.input-item
			&:nth-child(2)
				text-align: right
				
		.btn 
			width: auto
			min-width: 170px
	// margin-top: 20px