$f: 'Formular',Arialffe7d5

$brand: #f47920;
$brandh: #ea6201;
$brandbg: #f58636;
$brandlight: #fef1e8;

$cardbg: #fef4ee;

$dark: #2c1e1c;
$footerdark: #271a18;
$footerdarken: #211614;


$white: #ffffff;
$black: #2c1e1c;
$gray: #aba5a4;
$graylink: #b6b6b6;
$graylight: #cfcdcd;
$brown: rgba(86, 74, 72,1)
$text: #4e4544;
$darktext: #7f7a79;

$caption: #b4b1b1;

$placeholder: #bcb9b9;
$inputborder: #bdbdbd;

$modalbg: rgba(0,0,0,.5)

$danger: #dd2e1b;
$footergray: #6f6464