.wrapper.bg-orange
	.box
		.row.padding-big
			.columns.large-6.medium-6.small-12
				.block-about
					h2.title.h2.white Есть вопросы или нужна помощь?
			.columns.large-6.medium-6.small-12
				.block-about
					.text.white Мы всегда рады помочь и ответить на все интересующие вас вопросы. Вы можете попробовать найти информацию в разделе 
						a(href="#") «Вопросы и ответы»
						| или написать ваш вопрос нам на почту.
					a(href="#").btn.color-white.type-round.color-reverse.not-trans
						.btn-inner 
							span Вопросы и ответы
					a(href="#").btn.color-white.type-round.color-reverse
						.btn-inner 
							span Задать вопрос