.homepage-hero-module
	.video-container
		video.fillWidth(autoplay='', loop='',data-src='img/video/video.mp4', type='video/mp4')
		.poster
			img(src='img/video/video.jpg', alt='')
		//- .video-cover(style='background-color: rgba(86, 74, 72, 0);')
		.video-cover(style='background-color: rgba(47, 36, 37, 0);')