.wrapper.bg-white
	.box
		.padding-big
			.block-constructor
				.block-constructor-slider
					.block-constructor-slider-head
						.title.h2 Похожие услуги
						.content-slider-nav
							.slider-nav
					.block-constructor-slider-slider.w3
						.block-constructor-slider-slide
							+feachureLink('Эконом')
								.caption.medium Классическая доставка по принципу «от двери до двери» со стандартными сроками доставки
						.block-constructor-slider-slide
							+feachureLink('Срочная доставка по России')
								.caption.medium Классическая доставка по принципу «от двери до двери» со стандартными сроками доставки
						.block-constructor-slider-slide
							+feachureLink('Срочная доставка по городу')
								.caption.medium Сверхсрочная доставка по любу. точку городу до 24 часов
						.block-constructor-slider-slide
							+feachureLink('Эконом')
								.caption.medium Классическая доставка по принципу «от двери до двери» со стандартными сроками доставки
						.block-constructor-slider-slide
							+feachureLink('Срочная доставка по России')
								.caption.medium Классическая доставка по принципу «от двери до двери» со стандартными сроками доставки
						.block-constructor-slider-slide
							+feachureLink('Срочная доставка по городу')
								.caption.medium Сверхсрочная доставка по любу. точку городу до 24 часов
						.block-constructor-slider-slide
							+feachureLink('Эконом')
								.caption.medium Классическая доставка по принципу «от двери до двери» со стандартными сроками доставки
						.block-constructor-slider-slide
							+feachureLink('Срочная доставка по России')
								.caption.medium Классическая доставка по принципу «от двери до двери» со стандартными сроками доставки
						.block-constructor-slider-slide
							+feachureLink('Срочная доставка по городу')
								.caption.medium Сверхсрочная доставка по любу. точку городу до 24 часов