.wrapper
	.box
		.footer-row.row.align-stretch.footer-nav
			.columns.large-4.medium-4.small-12
				.col
					.footer-block
						.link-icon.primary.country.js-city-select
							.link-icon-icon
								+icon('pin')
							.link-icon-text Санкт-Петербург
						.country-tels-wrap.white
							.country-tels-wrap-inner
								a(href="tel:+74957487748") +7 495 748-77-48
						.btn.js-popup-button.type-round(data-modal='callback')
							.btn-inner
								span Обратный звонок
					.footer-lang
						.footer-lang-inner
							a(href="#").active На русском
							a(href="#") In English
			.columns.large-8.medium-8.small-12
				.footer-links
					.footer-links-item
						a(href="#") О компании
						ul.footer-links-add
							li
								a(href="#") Новости
							li
								a(href="#") Франчайзинг
							li
								a(href="#") Вакансии
							li
								a(href="#") Закупки
							li
								a(href="#") Сотрудничество
					.footer-links-item.wide
						a(href="#") Услуги
						ul.footer-links-add
							li
								a(href="#") Доставка по России
							li
								a(href="#") Доставка по области
							li
								a(href="#") Доставка по городу
							li
								a(href="#") Доставка в ближнее зарубежье
							li
								a(href="#") Международная доставка
							li
								a(href="#") Интернет-магазинам
						ul.footer-links-add
							li
								a(href="#") Температурные перевозки
							li
								a(href="#") Таможенные услуги
							li
								a(href="#") Складские услуги
							li
								a(href="#") Организация почтовых комнат
							li
								a(href="#") Дополнительные услуги
					.footer-links-item
						a(href="#") Главная
					.footer-links-item
						a(href="#") Документы
					.footer-links-item
						a(href="#") Карта сайта
					.footer-links-item
						a(href="#") Акции
					.footer-links-item
						a(href="#") API Интеграция
					.footer-links-item
						a(href="#") Личный кабинет
					.footer-links-item
						a(href="#") Вопросы и ответы
					.footer-links-item
						a(href="#") Контакты
		.footer-contact.row
			.columns.large-4.medium-4.small-12
				.block-info.white.primary
					.block-info-title.caption Центральный офис
					.block-info-content 
						.text.sm 115088, Российская Федерация, г. Москва, ул. Угрешская, д. 2, стр. 55
						a(href="#") Все офисы
			.columns.large-8.medium-8.small-12
				.block-info-wrapper
					.block-info.white
						.block-info-title.caption Телефоны
						.block-info-content 
							a(href="tel:+74957487748") +7 (495) 748-77-48
							a(href="tel:+74959957995") +7 (495) 995-79-95
							a(href="tel:+74955405005") +7 (495) 540-50-05
							a(href="tel:88005555144") 8 (800) 555-51-44
					.block-info.white
						.block-info-title.caption График работы
						.block-info-content
							.text.sm Пн-Пт: с 08.00 до 20.00 
								span (без перерывов)
							.text.sm Сб-Вс: с 9.00 до 18.00
					.block-info.white
						.block-info-title.caption E-mail
						.block-info-content 
							a(href="mailto:info@cse.ru") info@cse.ru
	.footer-footer
		.box
			.footer-footer-inner.row.align-middle
				.columns.large-6.medium-6.small-12
					.footer-footer-copy.text.sm © 2017 «КурьерСервисЭкспресс»
				.columns.large-4.large-offset-2.medium-4.medium-offset-2.small-12
					.footer-soc
						a(href="#").soc-item
							.soc-item-inner
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1298 2499.42"><path fill="currentcolor" d="M842.51 2499.4V1359.3h382.69l57.29-444.32h-440V631.3c0-128.64 35.73-216.31 220.21-216.31l235.28-.11V17.49C1257.29 12.09 1117.63 0 955.15 0 615.92 0 383.68 207.05 383.68 587.31v327.68H0v444.32h383.67v1140.11h458.84z"/></svg>
						a(href="#").soc-item
							.soc-item-inner
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 315.51 324.12"><rect width="287.51" height="296.12" x="14" y="14" fill="none" stroke="currentcolor" stroke-width="28" stroke-miterlimit="10" rx="79.57" ry="79.57"/><path fill="none" stroke="currentcolor" stroke-width="22" stroke-miterlimit="10" d="M228.34 161.62c-.85 39-31.6 70.59-70.59 70.59a70.59 70.59 0 0 1-70.59-70.59c0-39 31.62-71.72 70.59-70.59 47.47 1.38 71.44 31.74 70.59 70.59z"/><circle cx="244.7" cy="74.33" r="19.8" fill="currentcolor"/></svg>
						a(href="#").soc-item
							.soc-item-inner
								<svg xmlns="http://www.w3.org/2000/svg" width="54.8" height="31.2" viewBox="0 0 548.36 312.86"><path fill='currentcolor' d="M545.45 282.55a37.57 37.57 0 0 0-1.86-3.57q-14.27-25.7-54.53-63.1l-.57-.57-.28-.28-.29-.29h-.29q-18.27-17.42-23.12-23.42-8.87-11.42-4-23.13 3.42-8.85 25.7-37.4 11.71-15.13 18.56-24.27 49.4-65.67 42.83-83.94l-1.7-2.85q-1.71-2.57-8.85-4.71t-18.28-.71l-82.22.57a10.67 10.67 0 0 0-5.71.14l-3.71.86-1.43.71-1.14.86a12.69 12.69 0 0 0-3.14 3 19.59 19.59 0 0 0-2.85 5A466.2 466.2 0 0 1 388 89.69q-10.56 17.7-19.42 30.69t-14.84 19.13a103.56 103.56 0 0 1-10.85 9.85q-4.86 3.72-7.42 3.14c-1.71-.38-3.33-.76-4.86-1.14a19 19 0 0 1-6.42-7 31.32 31.32 0 0 1-3.28-11.11q-.85-6.71-1-11.56t.14-13.71q.3-8.85.29-12 0-10.85.42-23.55t.72-20.12q.29-7.42.28-15.71a66 66 0 0 0-1-13 44.44 44.44 0 0 0-3-9.14 15.39 15.39 0 0 0-5.85-6.85 33 33 0 0 0-9.56-3.86Q287.22.33 263.8.04q-53.1-.57-68.24 6.86a38.46 38.46 0 0 0-10.85 8.56q-5.14 6.28-1.43 6.85 17.13 2.57 24.27 12.27l1.71 3.43q2 3.71 4 13.13a132.5 132.5 0 0 1 2.57 20.84 222.24 222.24 0 0 1 0 35.69q-1.43 14.85-2.71 23.13a46.3 46.3 0 0 1-3.84 13.45 56.61 56.61 0 0 1-3.43 6.28 4.91 4.91 0 0 1-1.43 1.43 21.39 21.39 0 0 1-7.71 1.43q-4 0-9.71-4a68.49 68.49 0 0 1-11.85-11 146.94 146.94 0 0 1-13.85-19.56q-7.71-12.56-16-29.69l-4.57-8.28q-4.28-8-11.7-23.27T115.9 28.04a18.82 18.82 0 0 0-6.85-9.13l-1.43-.86a19.54 19.54 0 0 0-4.57-2.43 30.3 30.3 0 0 0-6.57-1.85l-78.23.57q-12 0-16.27 5.43L.86 21.44A9.24 9.24 0 0 0 0 26.01a22.73 22.73 0 0 0 1.71 7.71Q18.84 73.98 39 111.38t35 60.24q14.85 22.84 30.26 43.11t20.41 26q5 5.72 7.85 8.57l7.14 6.85q6.85 6.85 20.13 16.42a343.34 343.34 0 0 0 29.41 18.85 159.53 159.53 0 0 0 37.55 15.13 129.82 129.82 0 0 0 41.63 4.7h32.83q10-.86 15.13-6.28l1.14-1.43a18.93 18.93 0 0 0 2.14-5.28 29 29 0 0 0 1-7.85 94.08 94.08 0 0 1 1.85-22.16q2.13-9.85 4.86-14.85a36.49 36.49 0 0 1 6.14-8.42 24.81 24.81 0 0 1 4.86-4.14 18.63 18.63 0 0 1 2.28-1q6.85-2.28 16.14 4.43a94.77 94.77 0 0 1 17.42 16.56q8.14 9.86 19.55 22.12t20 18.27l5.71 3.43a69.52 69.52 0 0 0 14.85 6.28q9.12 2.85 16 1.43l73.05-1.11q10.84 0 16.84-3.57t7.14-7.85a22.11 22.11 0 0 0 .15-9.71 35.84 35.84 0 0 0-2.01-7.57z"/></svg>
					.footer-totop
						.footer-totop-btn.js-scroll-to(data-href='top')
							.footer-totop-btn-inner
								.svg

