//BEGIN header
.header-inner
	.header-inner-menu
		.header-inner-menu-inner
			a(href="#").header-inner-menu-logo
				+icon('logo')
			.header-inner-menu-nav
				.header-inner-menu-mainnav
					a(href="#", data-block='1').header-inner-menu-navitem.js-mainnav Услуги
					a(href="#", data-block='2').header-inner-menu-navitem.js-mainnav О компании
					a(href="#", data-block='3').header-inner-menu-navitem.js-mainnav Вопросы и ответы
					a(href="#", data-block='4').header-inner-menu-navitem.js-mainnav.active Контакты
				.header-inner-menu-subnav
					a(href="#").header-inner-menu-subnavitem Акции
					a(href="#").header-inner-menu-subnavitem Обратная связь
					a(href="#").header-inner-menu-subnavitem Личный кабинет
					a(href="#").header-inner-menu-subnavitem.active In English
			.header-inner-menu-search
				form(action="/").searchinp
					input(type="text" placeholder='Поиск по сайту').searchinp-input
					button(type='button').searchinp-btn
						+icon('search')
		.header-bg
		.header-subnav-wrapper.js-mainnav-cont
			.header-subnav-inner
				.header-subnav-item(data-block='1').js-mainnav-item
					.header-subnav-content
						.header-subnav-content-mainlinks
							a(href="#").title.h3.white Доставка по России
							a(href="#").title.h3.white Доставка в ближнее зарубежье
							a(href="#").title.h3.white Температурные перевозки
							a(href="#").title.h3.white Международная доставка
						.header-subnav-content-sublinks
							ul
								li 
									a(href="#") Доставка по области
								li
									a(href="#") Доставка по городу
								li
									a(href="#") Интернет-магазинам
								li
									a(href="#") Таможенные услуги
							ul
								li 
									a(href="#") Складские услуги
								li
									a(href="#") Организация почтовых комнат
								li
									a(href="#") Дополнительные услуги

				.header-subnav-item(data-block='2').js-mainnav-item
					.header-subnav-content
						.header-subnav-content-mainlinks
							a(href="#").title.h3.white Доставка в ближнее зарубежье
							a(href="#").title.h3.white Температурные перевозки
							a(href="#").title.h3.white Международная доставка
							a(href="#").title.h3.white Доставка по России

						.header-subnav-content-sublinks
							ul
								li 
									a(href="#") Складские услуги
								li
									a(href="#") Организация почтовых комнат
								li
									a(href="#") Дополнительные услуги
							ul
								li 
									a(href="#") Доставка по области
								li
									a(href="#") Доставка по городу
								li
									a(href="#") Интернет-магазинам
								li
									a(href="#") Таможенные услуги
				.header-subnav-item(data-block='3').js-mainnav-item
					.header-subnav-content
						.header-subnav-content-mainlinks
							a(href="#").title.h3.white Доставка по России
							a(href="#").title.h3.white Доставка в ближнее зарубежье
							a(href="#").title.h3.white Температурные перевозки
							a(href="#").title.h3.white Международная доставка
						.header-subnav-content-sublinks
							ul
								li 
									a(href="#") Доставка по области
								li
									a(href="#") Доставка по городу
								li
									a(href="#") Интернет-магазинам
								li
									a(href="#") Таможенные услуги
							ul
								li 
									a(href="#") Складские услуги
								li
									a(href="#") Организация почтовых комнат
								li
									a(href="#") Дополнительные услуги

				.header-subnav-item(data-block='4').js-mainnav-item
					.header-subnav-content
						.header-subnav-content-mainlinks
							a(href="#").title.h3.white Доставка по России
							a(href="#").title.h3.white Доставка в ближнее зарубежье
							a(href="#").title.h3.white Температурные перевозки
							a(href="#").title.h3.white Международная доставка
						.header-subnav-content-sublinks
							ul
								li 
									a(href="#") Доставка по области
								li
									a(href="#") Доставка по городу
								li
									a(href="#") Интернет-магазинам
								li
									a(href="#") Таможенные услуги
							ul
								li 
									a(href="#") Складские услуги
								li
									a(href="#") Организация почтовых комнат
								li
									a(href="#") Дополнительные услуги


	.header-inner-top
//END header
