.wrapper
	.wrapper-bg
		.wrapper-bg-img.js-image.bg(data-src='img/bgwrapper/1.jpg')
	.box
		.padding-big
			.block-constructor
				.block-constructor-slider
					.block-constructor-slider-head
						.title.h2 Последние новости
						.content-slider-nav
							.slider-nav
					.block-constructor-slider-slider.w3
						.block-constructor-slider-slide
							a(href="#").news-slide
								.caption.medium 30 августа, 2017
								.text.white.sm В Татарстане 30 августа нерабочий день
						.block-constructor-slider-slide
							a(href="#").news-slide
								.caption.medium 30 августа, 2017
								.text.white.sm В Кыргызстане 31 августа и 1 сентября нерабочие дни
						.block-constructor-slider-slide
							a(href="#").news-slide
								.caption.medium 30 августа, 2017
								.text.white.sm Нерабочие дни в ряде городов и стран в связи с празднованием Курбан Байрам
						.block-constructor-slider-slide
							a(href="#").news-slide
								.caption.medium 30 августа, 2017
								.text.white.sm В Татарстане 30 августа нерабочий день
						//- .block-constructor-slider-slide
						//- 	+feachureLink('Срочная доставка по России')
						//- 		.caption.medium Классическая доставка по принципу «от двери до двери» со стандартными сроками доставки
						//- .block-constructor-slider-slide
						//- 	+feachureLink('Срочная доставка по городу')
						//- 		.caption.medium Сверхсрочная доставка по любу. точку городу до 24 часов
						//- .block-constructor-slider-slide
						//- 	+feachureLink('Эконом')
						//- 		.caption.medium Классическая доставка по принципу «от двери до двери» со стандартными сроками доставки
						//- .block-constructor-slider-slide
						//- 	+feachureLink('Срочная доставка по России')
						//- 		.caption.medium Классическая доставка по принципу «от двери до двери» со стандартными сроками доставки
						//- .block-constructor-slider-slide
						//- 	+feachureLink('Срочная доставка по городу')
						//- 		.caption.medium Сверхсрочная доставка по любу. точку городу до 24 часов