.wrapper.bg-gray.news-content
	.box
		.padding-big
			.block-constructor
				.block-constructor-slider
					.block-constructor-slider-head
						.title.h2 Другие новости
						.content-slider-nav
							.slider-nav
					.block-constructor-slider-slider
						.block-constructor-slider-slide
							.promoblock-item.w50.type-news
								a(href="#").promoblock-item-link
									.promoblock-item-content
										.promoblock-item-content-inner
											.title.h4 В Татарстане 30 августа нерабочий день
											.caption 30 августа, 2017
									object.item-type-wrapper
										a(href="#").item-type Регионы
						.block-constructor-slider-slide
							.promoblock-item.w33.type-news.has-image
								a(href="#").promoblock-item-link
									.promoblock-item-bg
										img.js-image(data-src="img/promoblock/1.jpg", alt="")
									.promoblock-item-content
										.promoblock-item-content-inner
											.title.h4 В Татарстане 30 августа нерабочий день
											.caption 30 августа, 2017
									object.item-type-wrapper
										a(href="#").item-type Регионы
						.block-constructor-slider-slide
							.promoblock-item.w33.type-news
								a(href="#").promoblock-item-link
									.promoblock-item-content
										.promoblock-item-content-inner
											.title.h4 В Татарстане 30 августа нерабочий день
											.caption 30 августа, 2017
									object.item-type-wrapper
										a(href="#").item-type Регионы
						.block-constructor-slider-slide
							.promoblock-item.w50.type-news.has-image
								a(href="#").promoblock-item-link
									.promoblock-item-bg
										img.js-image(data-src="img/promoblock/1.jpg", alt="")
									.promoblock-item-content
										.promoblock-item-content-inner
											.title.h4 В Татарстане 30 августа нерабочий день
											.caption 30 августа, 2017
									object.item-type-wrapper
										a(href="#").item-type Регионы
						.block-constructor-slider-slide
							.promoblock-item.w50.type-news
								a(href="#").promoblock-item-link
									.promoblock-item-content
										.promoblock-item-content-inner
											.title.h4 В Татарстане 30 августа нерабочий день
											.caption 30 августа, 2017
									object.item-type-wrapper
										a(href="#").item-type Регионы
						.block-constructor-slider-slide
							.promoblock-item.w33.type-news.has-image
								a(href="#").promoblock-item-link
									.promoblock-item-bg
										img.js-image(data-src="img/promoblock/1.jpg", alt="")
									.promoblock-item-content
										.promoblock-item-content-inner
											.title.h4 В Татарстане 30 августа нерабочий день
											.caption 30 августа, 2017
									object.item-type-wrapper
										a(href="#").item-type Регионы
						.block-constructor-slider-slide
							.promoblock-item.w33.type-news
								a(href="#").promoblock-item-link
									.promoblock-item-content
										.promoblock-item-content-inner
											.title.h4 В Татарстане 30 августа нерабочий день
											.caption 30 августа, 2017
									object.item-type-wrapper
										a(href="#").item-type Регионы
						.block-constructor-slider-slide
							.promoblock-item.w50.type-news.has-image
								a(href="#").promoblock-item-link
									.promoblock-item-bg
										img.js-image(data-src="img/promoblock/1.jpg", alt="")
									.promoblock-item-content
										.promoblock-item-content-inner
											.title.h4 В Татарстане 30 августа нерабочий день
											.caption 30 августа, 2017
									object.item-type-wrapper
										a(href="#").item-type Регионы