.wrapper.promoblock
	.wrapper-bg
		.wrapper-bg-img.js-image.bg(data-src='img/promoblock.jpg')
	.box
		.row.padding-big
			.columns.large-6.medium-6.small-12
				.block-about
					.title.h3.white Быстрая и профессиональная доставка посылок в любую точку мира вместе с «КурьерСервисЭкспресс»
			.columns.large-6.medium-6.small-12
				.block-about
					a(href="#").btn.color-white
						.btn-inner 
							span Заключить договор
					a(href="#").btn
						.btn-inner 
							span Вызвать курьера