.wrapper.bg-white
	.box
		.padding-big
			.block-constructor
				.block-constructor-slider
					.block-constructor-slider-head
						.title.h2 Акции
						.content-slider-nav
							.slider-nav
					// может быть с мобификатором .w3 на странице 5-3
					// внутри .block-constructor-slider-slide могут быть карточки нвостей с главной, карточки акция с главной, и ссылки из раздела 5-2 (пример такого слайдера на странице 5-3)
					.block-constructor-slider-slider
						.block-constructor-slider-slide

							.promoblock-item.w50.type-promotion
								a(href="#").promoblock-item-link
									.promoblock-item-bg
										img.js-image(data-src="img/promoblock/3.jpg", alt="")
									.promoblock-item-content
										.promoblock-item-content-inner
											.title.h4 Осенняя акция: отправь посылку через наш сервис и получи бонус 100 ₽ на доставку следующей посылки 
											.caption 30 сентября, 2017
									object.item-type-wrapper
										a(href="#").item-type Акция
										a(href="#").item-type 10 сентября — 25 октября
						.block-constructor-slider-slide
							.promoblock-item.w50.type-promotion.bg-black
								a(href="#").promoblock-item-link
									.promoblock-item-bg
										img.js-image(data-src="img/promoblock/3.jpg", alt="")
									.promoblock-item-content
										.promoblock-item-content-inner
											.title.h4 Осенняя акция: отправь посылку через наш сервис и получи бонус 100 ₽ на доставку следующей посылки 
											.caption 30 сентября, 2017
									object.item-type-wrapper
										a(href="#").item-type Акция
										a(href="#").item-type 10 сентября — 25 октября
						.block-constructor-slider-slide
							.promoblock-item.w50.type-promotion
								a(href="#").promoblock-item-link
									.promoblock-item-bg
										img.js-image(data-src="img/promoblock/3.jpg", alt="")
									.promoblock-item-content
										.promoblock-item-content-inner
											.title.h4 Осенняя акция: отправь посылку через наш сервис и получи бонус 100 ₽ на доставку следующей посылки 
											.caption 30 сентября, 2017
									object.item-type-wrapper
										a(href="#").item-type Акция
										a(href="#").item-type 10 сентября — 25 октября
						.block-constructor-slider-slide
							.promoblock-item.w50.type-promotion.bg-black
								a(href="#").promoblock-item-link
									.promoblock-item-bg
										img.js-image(data-src="img/promoblock/3.jpg", alt="")
									.promoblock-item-content
										.promoblock-item-content-inner
											.title.h4 Осенняя акция: отправь посылку через наш сервис и получи бонус 100 ₽ на доставку следующей посылки 
											.caption 30 сентября, 2017
									object.item-type-wrapper
										a(href="#").item-type Акцияx
										a(href="#").item-type 10 сентября — 25 октября
						.block-constructor-slider-slide
							.promoblock-item.w50.type-promotion
								a(href="#").promoblock-item-link
									.promoblock-item-bg
										img.js-image(data-src="img/promoblock/3.jpg", alt="")
									.promoblock-item-content
										.promoblock-item-content-inner
											.title.h4 Осенняя акция: отправь посылку через наш сервис и получи бонус 100 ₽ на доставку следующей посылки 
											.caption 30 сентября, 2017
									object.item-type-wrapper
										a(href="#").item-type Акция
										a(href="#").item-type 10 сентября — 25 октября
						.block-constructor-slider-slide
							.promoblock-item.w50.type-promotion.bg-black
								a(href="#").promoblock-item-link
									.promoblock-item-bg
										img.js-image(data-src="img/promoblock/3.jpg", alt="")
									.promoblock-item-content
										.promoblock-item-content-inner
											.title.h4 Осенняя акция: отправь посылку через наш сервис и получи бонус 100 ₽ на доставку следующей посылки 
											.caption 30 сентября, 2017
									object.item-type-wrapper
										a(href="#").item-type Акция
										a(href="#").item-type 10 сентября — 25 октября